{% comment %}
    Renders a contact form
    Accepts:
    - form_title: <String> Title of the contact form (optional)

    Usage:
    {% render 'form_contact' %}
    {% render 'form_contact', form_title: section.settings.form_title, ph_name: section.settings.name_text,
          ph_email: section.settings.email_text, ph_message: section.settings.review_text, ph_submit: section.settings.submit_text %}
{% endcomment %}

{%- if form_title == blank -%}
  {%- assign form_title = 'contact.form.title' | t -%}
{%- endif -%}

{%- if ph_name == blank -%}
  {%- assign ph_name = 'contact.form.name' | t -%}
{%- endif -%}

{%- if ph_email == blank -%}
  {%- assign ph_email = 'contact.form.email' | t -%}
{%- endif -%}

{%- if ph_message == blank -%}
  {%- assign ph_message = 'contact.form.message' | t -%}
{%- endif -%}

{%- if ph_submit == blank -%}
  {%- assign ph_submit = 'contact.form.send' | t -%}
{%- endif -%}

{% form 'contact' %}
  {% render 'form_status', form: form, form_id: formId %}

  {%- if form_title != blank -%}
    <h2 class="block-title">{{ form_title }}</h3>
  {%- endif -%}
  <div class="contact-input__container">
    <div class="ds-flex align-center">
      {%- assign name_attr = 'contact.form.name' | handle -%}
      <label for="contactFormName">{{ 'contact.form.name' | t }}</label>
      <input type="text" id="contactFormName" name="contact[{{ name_attr }}]" placeholder="{{ ph_name }}*" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}" required="required">
    </div>

    <div class="ds-flex align-center">
      <label for="contactFormEmail">{{ 'contact.form.email' | t }}</label>
      <input type="email" id="contactFormEmail" name="contact[email]" placeholder="{{ ph_email }}*" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" required="required">
    </div>

    <div class="ds-flex">
      <label class="label-textarea" for="contactFormMessage">{{ 'contact.form.message' | t }}</label>
      <textarea rows="5" id="contactFormMessage" name="contact[body]" placeholder="{{ ph_message }}*" required="required">{% if form.body %}{{ form.body }}{% endif %}</textarea>
    </div>

    <button class="btn btn-default">{{ ph_submit }}</button>
  </div>
{% endform %}