{% comment %}
Renders latest news blogs in carousel
  Accepts:
    - latest_news: content type - section/block
      = title: <String> Title of the section
      = latest_blog: <Blog> Blog to show
      = limit: <Number> limit number of products to show
      = image_style: image size styles (values: "default", "fixed-height")
      = ln_style: latest news item text styles (values: "default", "text-on-right", "text-override"})
      = auto_speed: <Number> auto rotation speed of the carousel
      = show_dots: <Boolean> show/hide pagination dots
      = show_nav: <Boolean> show/hide carousel navigation
      = nav_style: <String> position of the navigation (values: "nav-top__right", "nav-top__center", "nav-middle")
      = wrap_around: <Boolean> loop carousel
      = cell_align: <String> Align selected item to left, center or right
      = cols: <Number> number of items to show at once
      = show_date: <Boolean> show/hide date
      = show_comment: <Boolean> show/hide comment count
      = pos_date_comment: <String> comment date position
      = color_title: <Color> color of article title
      = size_title: <Number> font size of article title
      = color_excerpt: <Color> color of article excerpt
      = c_time: <Color> time text color
      = bg_time: <Color> time background color
      = bd_time: <Color> time border color
      = c_cmt: <Color> comment text color
      = bg_cmt: <Color> comment background color
      = bd_cmt: <Color> comment border color

  Usage:
    {% render 'latest_news' with section %}
    {% render 'latest_news' with block %}
{% endcomment %}

{%- liquid
assign section_title = latest_news.settings.title
assign latest_blog = latest_news.settings.latest_blog
assign image_style = latest_news.settings.image_style
assign ln_style = latest_news.settings.ln_style
assign auto_speed = latest_news.settings.auto_speed
assign show_dots = latest_news.settings.show_dots
assign show_nav = latest_news.settings.show_nav
assign nav_style = latest_news.settings.nav_style
assign wrap_around = latest_news.settings.wrap_around
assign cell_align = latest_news.settings.cell_align
assign cols = latest_news.settings.cols
assign show_excerpt = latest_news.settings.show_excerpt
assign show_date = latest_news.settings.show_date
assign show_comment = latest_news.settings.show_comment
assign pos_date_comment = latest_news.settings.pos_date_comment
assign color_title = latest_news.settings.color_title
assign size_title = latest_news.settings.size_title
assign color_excerpt = latest_news.settings.color_excerpt
assign size_excerpt = latest_news.settings.size_excerpt
-%}

<div class="content-slideshow {{ nav_style }}">
  {%- if section_title != blank -%}
    <h3 class="block-title">{{ section_title }}</h3>
  {%- endif -%}

  <div class="items-carousel {{ ln_style }}"
    data-auto="{{ auto_speed | default: 5 }}"
    data-dots="{{ show_dots }}"
    data-nav="{{ show_nav }}"
    data-wraparound="{{ wrap_around | default: 'true' }}"
    data-cellalign="{{ cell_align | default: 'left' }}">

    {%- unless latest_blog == blank -%}
      {%- assign blog = blogs[latest_blog] -%}
      {%- for article in blog.articles -%}
        <div class="slide-item grid-items__{{ cols }}{% if show_date or show_comment %} ds-flex{% endif %}">
          {%- if show_date or show_comment -%}
            <div class="article-info info-pos-{{ latest_news.settings.pos_date_comment }}">
              {%- if show_date -%}
                <time style="color:{{ latest_news.settings.c_time }};background-color:{{ latest_news.settings.bg_time }};border-color:{{ latest_news.settings.bd_time }}">{{ article.updated_at | date: "%d %b" }}</time>
              {%- endif -%}
              {%- if show_comment -%}
                <span style="color:{{ latest_news.settings.c_cmt }};background-color:{{ latest_news.settings.bg_cmt }};border-color:{{ latest_news.settings.bd_cmt }}">{{ 'blogs.comments.with_count_html' | t: count: article.comments_count }}</span>
              {%- endif -%}
            </div>
          {%- endif -%}

          {%- if ln_style != 'text-on-right' -%}
            <div style="width:100%">
          {%- endif -%}

            {%- unless article.image == blank -%}
              <div class="article-img position-relative size-{{ image_style }}">
                {%- if image_style == 'default' -%}
                  <div class="position-relative image-loading" style="padding-top:{{ 100 | divided_by: article.image.aspect_ratio }}%;">
                {%- endif -%}
                  <div class="image-bg lazyload" data-bg="{{ article.image | img_url: 'x300' }}"></div>
                {%- if image_style == 'default' -%}
                  </div><!-- .position-relative -->
                {%- endif -%}
              </div><!-- .article-img -->
            {%- endunless -%}

            <div class="article-detail"style="text-align: center;">
              <a href="{{ article.url }}" class="article-name blog-mobile-main-heading" style="color:{{color_title}};font-size:{{size_title}}px">{{ article.title }}</a>
              {%- if show_excerpt -%}
                <div class="article-excerpt blog-mobile-main-subheading" style="color:{{color_excerpt}};font-size:{{size_excerpt}}px">{{ article.excerpt_or_content | truncatewords: 32 }}</div>
              {%- endif -%}
              <a href="{{ article.url }}" class="btn btn-default">{{ 'blogs.article.read_more' | t }}</a>
            </div><!-- .article-detail -->
          {%- if ln_style != 'text-on-right' -%}
            </div>
          {%- endif -%}
        </div><!-- .slide-item -->
      {%- endfor -%}
    {%- else -%}
      {%- for i in (1..3) -%}
        {% capture current %}{% cycle 1, 2 %}{% endcapture %}
        <div class="slide-item grid-items__{{ cols }}{% if show_date_comment %} ds-flex{% endif %}">
          {%- if show_date or show_comment -%}
            <div class="article-info info-pos-{{ latest_news.settings.pos_date_comment }}">
              {%- if show_date -%}
                <time style="color:{{ latest_news.settings.c_time }};background-color:{{ latest_news.settings.bg_time }};border-color:{{ latest_news.settings.bd_time }}">08 JAN</time>
              {%- endif -%}
              {%- if show_comment -%}
                <span style="color:{{ latest_news.settings.c_cmt }};background-color:{{ latest_news.settings.bg_cmt }};border-color:{{ latest_news.settings.bd_cmt }}">5 COM</span>
              {%- endif -%}
            </div>
          {%- endif -%}

          <div class="article-img position-relative">
            <div style="padding-top: {% if ln_style == 'text-override' %}200px{% else %}52.38%{% endif %};">
              {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder' }}
            </div>
          </div><!-- .article-img -->
          <div class="article-detail">
            <span class="article-name" style="color:{{color_title}};font-size:{{size_title}}px">Curabitur Faucibus Aliquam</span>
            <div class="article-excerpt" style="color:{{color_excerpt}};font-size:{{size_excerpt}}px">Sed blandit nulla nec nunc ullamcorper tristique. Mauris adipiscing cursus ante ultricies dictum sed lobortis Mauris adipiscing cursus ante ultricies dictum sed lobortis...</div>
            <a href="#" class="btn btn-default">{{ 'blogs.article.read_more' | t }}</a>
          </div><!-- .article-detail -->
        </div><!-- .slide-item -->
      {%- endfor -%}
    {%- endunless -%}
  </div><!-- .items-carousel -->
</div><!-- .content-slideshow -->
