{% comment %}
Renders shipping rates caculator on cart page

  Usage:
    {% render 'shipping_calculator' %}
{% endcomment %}

{%- if template contains 'cart' -%}
{{'//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js' | script_tag }}
{{ '/services/javascripts/countries.js' | script_tag }}
{{ 'shopify_common.js' | shopify_asset_url | script_tag }}
<script type="text/javascript" src="{{ 'jquery.cart.min.js' | asset_url }}" defer></script>
<script type="text/javascript" src="{{ 'vndCart.js' | asset_url }}" defer></script>
{%- endif -%}

<div id="shipping-calculator" class="expandable">
  <h3 class="shipping-description">{{ 'cart.shipping.description' | t }}</h3>
  <div>
    <p class="field">
      <label for="address_country">{{ 'customer.addresses.country' | t }}*</label>
      <select id="address_country" name="address[country]" data-default="{% if shop.customer_accounts_enabled and customer %}{{ customer.default_address.country }}{% elsif settings.shipping_calculator_default_country != '' %}{{ settings.shipping_calculator_default_country }}{% endif %}">{{ country_option_tags }}</select>
    </p>
    <p class="field" id="address_province_container" style="display:none;">
      <label for="address_province" id="address_province_label">{{ 'customer.addresses.province' | t }}*</label>
      <select id="address_province" name="address[province]" data-default="{% if shop.customer_accounts_enabled and customer and customer.default_address.province != '' %}{{ customer.default_address.province }}{% endif %}"></select>
    </p>
    <p class="field">
      <label for="address_zip">{{ 'customer.addresses.zip' | t }}*</label>
      <input type="text" id="address_zip" name="address[zip]"{% if shop.customer_accounts_enabled and customer %} value="{{ customer.default_address.zip }}"{% endif %} />
    </p>
    <p class="field">
      <input type="button" class="btn btn-default get-rates" value="{{'cart.shipping.calculate_shipping' | t}}" />
    </p>
  </div>
  <div id="wrapper-response"></div>
</div>

<script id="shipping-calculator-response-template" type="text/template">
  {% raw %}
  <p id="shipping-rates-feedback" {{#if success}} class="success" {{else}} class="error" {{/if}}>
  {{#if success}}
    {{#if rates}}
      {{#rates}}
        {{#if @first}}
            Rates start at {{price}}.
        {{/if}}
      {{/rates}}
    {{else}}
      We do not ship to this destination.
    {{/if}}
  {{else}}
    {{ errorFeedback }}
  {{/if}}
  </p>
  {% endraw %}
</script>
