{% comment %}
Renders image/video and text content of a slide show
  Accepts:
    - slideshow_content: <Block> block of a slideshow section
    - lh: <String> layout_h of the settings

  Usage:
    {% render 'slideshow_content', s_c: block, lh: section.settings.layout_h %}
{% endcomment %}
<div class="content-{{ s_c.id }} {% if lh == 'relative-content' %}relative-content{% else %}slideshow-content-{{ s_c.settings.mobile_layout | default: 'adjust' }}{% endif %} {{ s_c.settings.content_effect }}{{ content_type }}">
  <div class="container ds-flex message-phone-css-container" {%if section.settings.slider_text_margin_top %} style="margin-top: 300px; padding: 2px 0 !important;" {%endif%}>
    <div class="{{ s_c.settings.content_pos }}{% if s_c.settings.show_content_bg %} content-bg{% endif %} mobile-content-{{ s_c.settings.mobile_layout | default: 'adjust' }} message-phone-css-opacity" style="opacity: .85;">
      {%- if s_c.settings.content_style == "custom_html" -%}
        {{ s_c.settings.html_content }}
      {%- else -%}
        <div class="{{ s_c.settings.content_style }}{% if s_c.settings.show_border %} content-text__border{% endif %}" style="text-align: center; border-color: {{ s_c.settings.c_text_border }}; ">
          {%- if s_c.settings.top_title != blank -%}
            <h3 style="color: {{ s_c.settings.color_top_title }};">{{ s_c.settings.top_title | newline_to_br }}</h3>
          {%- endif -%}

          {%- if s_c.settings.main_title != blank -%}
            <h2 class="message-phone-css-title" style="font-family: 'DM Serif Display', serif; font-weight: 800;  word-spacing: 3px; margin-bottom: 20px; color: {{ s_c.settings.color_main_title }}; ">{{ s_c.settings.main_title | newline_to_br }}</h2>
          {%- endif -%}

          {%- if s_c.settings.sub_title != blank -%}
            <p class="message-phone-css-text" style="font-size: 1.7rem;color: {{ s_c.settings.sub_color }}; ">{{ s_c.settings.sub_title | newline_to_br }}</p>
<!--           	<p style="font-family: 'Bilbo Swash Caps', cursive; font-size: 3.8rem;">Cheryl Cotton</p> -->
          {%- endif -%}
          
          
          
          
            {% if section.settings.sig_image %}
            <img src="{{ 'cheryl-sign.png' | asset_img_url: 'master'}}" width="160px" height="96px" alt="" style="display: block; margin: 20px auto;" class="footer-logo footer-logo-mobile message-phone-css-image">
            {% endif %}
          
          

          
          {%- if s_c.settings.btn1_title != blank -%}
            <a href="{{ s_c.settings.btn1_link | default: '#' }}" style="font-size: 13.5px;"  class="btn {{ s_c.settings.btn1_style }}">{{ s_c.settings.btn1_title }}{% if s_c.settings.btn1_title_icon != blank %}{% render 'render_icon', icon_name: s_c.settings.btn1_title_icon %}{% endif %}</a>
          {%- endif -%}
		  		
          
          {%- if s_c.settings.btn2_title != blank -%}
            <a href="{{ s_c.settings.btn2_link | default: '#' }}" style="color: #cad27b; background-color: #28252c; font-family: 'DM Serif Display', serif;"  class="btn {{ s_c.settings.btn2_style }} btn-second">{{ s_c.settings.btn2_title }}{%- if s_c.settings.btn2_title_icon != blank -%}{% render 'render_icon', icon_name: s_c.settings.btn2_title_icon %}{%- endif -%}</a>

          {%- endif -%}
        </div><!-- .content-style -->
      {%- endif -%}
    </div><!-- .content-pos -->
  </div><!-- .container -->
</div><!-- .slideshow-content -->
{%- if s_c.settings.btn1_link != blank and s_c.settings.btn1_title == blank and s_c.settings.btn2_title == blank -%}
  <a href="{{ s_c.settings.btn1_link }}" class="link-entire"></a>
{%- endif -%}
<style>
.content-{{ s_c.id }} .content-bg{background-color:{{ s_c.settings.c_textbg }}}
@media all and (max-width: 767px){.content-{{ s_c.id }}.slideshow-content-default .mobile-content-default { background-color: {{ s_c.settings.c_textbg }}; }}
</style>