{% paginate customer.addresses by 5 %}

<div class="container">
  <h1 class="page-title">{{ 'customer.addresses.title' | t }}</h1>
</div>

<div class="container template-customer">
  <div class="row">
    {% comment %}
      List all customer addresses with a unique edit form.
      Also add pagination in case they have a large number of addresses
    {% endcomment %}
    <ul class="list-style-none medium-6 col-padding">
      {% for address in customer.addresses %}
        <li>
          <div class="address">
            {% if address == customer.default_address %}
              <h2 class="block-title">{{ 'customer.addresses.default' | t }}</h2>
            {% endif %}

            {{ address | format_address }}

            <div>
              <button
                id="EditFormButton_{{ address.id }}"
                type="button"
                class="btn btn-default address-edit-toggle"
                data-form-id="{{ address.id }}"
                aria-owns="EditAddress_{{ address.id }}"
                aria-expanded="false"
              >{{ 'customer.addresses.edit' | t }}</button>
              <button
                type="button"
                class="btn btn-default address-delete"
                data-target="{{ address.url }}"
                data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
              >{{ 'customer.addresses.delete' | t }}</button>
            </div>
          </div>

          <div id="EditAddress_{{ address.id }}" class="vb-form ds-none">
            {% form 'customer_address', address %}

              <h2 class="block-title">{{ 'customer.addresses.edit_address' | t }}</h2>

              <div class="row">
                <div class="medium-6 col-padding ds-flex align-center">
                  <label for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
                  <input type="text" id="AddressFirstName_{{ form.id }}" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name">
                </div>

                <div class="medium-6 col-padding ds-flex align-center">
                  <label for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
                  <input type="text" id="AddressLastName_{{ form.id }}" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name">
                </div>
              </div>

              <div class="ds-flex align-center">
                <label for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
                <input type="text" id="AddressCompany_{{ form.id }}" name="address[company]" value="{{ form.company }}" autocomplete="organization">
              </div>

              <div class="ds-flex align-center">
                <label for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>
                <input type="text" id="AddressAddress1_{{ form.id }}" name="address[address1]" value="{{ form.address1 }}" autocomplete="street-address address-line1">
              </div>

              <div class="ds-flex align-center">
                <label for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>
                <input type="text" id="AddressAddress2_{{ form.id }}" name="address[address2]" value="{{ form.address2 }}" autocomplete="street-address address-line2">
              </div>

              <div class="row">
                <div class="medium-6 col-padding ds-flex align-center">
                  <label for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
                  <input type="text" id="AddressCity_{{ form.id }}" name="address[city]" value="{{ form.city }}" autocomplete="address-level2">
                </div>

                <div class="medium-6 col-padding ds-flex align-center">
                  <label for="AddressCountry_{{ form.id }}">{{ 'customer.addresses.country' | t }}</label>
                  <select id="AddressCountry_{{ form.id }}" class="address-country-option" data-form-id="{{ form.id }}" name="address[country]" data-default="{{ form.country }}" autocomplete="country">{{ all_country_option_tags }}</select>
                </div>
              </div>

              <div id="AddressProvinceContainer_{{ form.id }}" style="display:none" class="ds-flex align-center">
                <label for="AddressProvince_{{ form.id }}">{{ 'customer.addresses.province' | t }}</label>
                <select id="AddressProvince_{{ form.id }}" name="address[province]" data-default="{{ form.province }}" autocomplete="address-level1"></select>
              </div>

              <div class="row">
                <div class="medium-6 col-padding ds-flex align-center">
                  <label for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
                  <input type="text" id="AddressZip_{{ form.id }}" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code">
                </div>

                <div class="medium-6 col-padding ds-flex align-center">
                  <label for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
                  <input type="tel" id="AddressPhone_{{ form.id }}" name="address[phone]" value="{{ form.phone }}" autocomplete="phone">
                </div>
              </div>

              <div class="ds-flex align-center">
                {{ form.set_as_default_checkbox }}
                <label for="address_default_address_{{ form.id }}">{{ 'customer.addresses.set_default' | t }}</label>
              </div>

              <div>
                <button type="submit" class="btn btn-default">{{ 'customer.addresses.update' | t }}</button>
                <button type="button" class="btn btn-default address-edit-toggle" data-form-id="{{ form.id }}">{{ 'customer.addresses.cancel' | t }}</button>
              </div>

            {% endform %}
            <hr>
          </div>
        </li>
      {% endfor %}
    </ul>

    <div id="AddressNewForm" class="medium-6 col-padding vb-form">
      {% form 'customer_address', customer.new_address %}
        <h2 class="block-title">{{ 'customer.addresses.add_new' | t }}</h2>

        <div class="row">
          <div class="small-6 col-padding ds-flex align-center">
            <label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
            <input type="text" id="AddressFirstNameNew" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name">
          </div>

          <div class="small-6 col-padding ds-flex align-center">
            <label for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
            <input type="text" id="AddressLastNameNew" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name">
          </div>
        </div>

        <div class="ds-flex align-center">
          <label for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
          <input type="text" id="AddressCompanyNew" name="address[company]" value="{{ form.company }}" autocomplete="organization">
        </div>

        <div class="ds-flex align-center">
          <label for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
          <input type="text" id="AddressAddress1New" name="address[address1]" value="{{ form.address1 }}" autocomplete="street-address address-line1">
        </div>

        <div class="ds-flex align-center">
          <label for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
          <input type="text" id="AddressAddress2New" name="address[address2]" value="{{ form.address2 }}" autocomplete="street-address address-line2">
        </div>

        <div class="row">
          <div class="medium-6 col-padding ds-flex align-center">
            <label for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
            <input type="text" id="AddressCityNew" name="address[city]" value="{{ form.city }}" autocomplete="address-level2">
          </div>

          <div class="medium-6 col-padding ds-flex align-center">
            <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
            <select id="AddressCountryNew" name="address[country]" data-default="{{ form.country }}" autocomplete="country">{{ all_country_option_tags }}</select>
          </div>
        </div>

        <div id="AddressProvinceContainerNew" class="ds-flex align-center" style="display:none">
          <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
          <select id="AddressProvinceNew" name="address[province]" data-default="{{ form.province }}" autocomplete="address-level1"></select>
        </div>

        <div class="ds-flex align-center">
          <label for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
          <input type="text" id="AddressZipNew" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code">
        </div>

        <div class="ds-flex align-center">
          <label for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
          <input type="tel" id="AddressPhoneNew" name="address[phone]" value="{{ form.phone }}" autocomplete="phone">
        </div>

        <div class="ds-flex align-center">
          {{ form.set_as_default_checkbox }}
          <label for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
        </div>

        <div><button type="submit" class="btn btn-default">{{ 'customer.addresses.add' | t }}</button></div>
      {% endform %}
    </div>

    {%- if paginate.pages > 1 -%}
      {% render 'pagination', paginate: paginate %}
    {%- endif -%}
  </div>
</div>
{% endpaginate %}
