<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.c_theme }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  <title>
    {{ shop.name }} &ndash; {{ 'general.password_page.opening_soon' | t }}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% render 'social_meta_tags' %}

  <link rel="stylesheet" href="{{ 'non-critical.scss.css' | asset_url }}" media="print" onload="this.media='all'">
  {{ 'style.scss.css' | asset_url | stylesheet_tag }}
  {{ 'pages.scss.css' | asset_url | stylesheet_tag }}
  {{ 'password.css' | asset_url | stylesheet_tag }}

  {{ 'jQuery.min.js' | asset_url | script_tag }}

  {{ content_for_header }}
</head>

<body class="template-password">
  {{ content_for_layout }}
  {{ 'vendor.js' | asset_url | script_tag }}
  {{ 'lazysizes.min.js' | asset_url | script_tag }}
</body>
</html>
