<footer class="{{ section.settings.footer_style }}">
  <div class="footer-main">
    <div class="container ds-flex flex-wrap message-phone-css-center">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'logo' -%}
          <div class="footer-item position-relative">
            <a href="/" class="footer-logo">
              {%- if block.settings.logo != blank -%}
                <img class="lazyload" data-src="{{ block.settings.logo | img_url: '250x' }}" />
              {%- else -%}
                {{ shop.name }}
              {%- endif -%}
            </a>
          </div>

          {%- when 'menu' -%}
          <div class="footer-item position-relative">
            {%- assign footer_linklist = block.settings.link_list -%}
            {%- if linklists[footer_linklist].links.size > 0 -%}
              <h3 class="footer-menu__title">{{ linklists[footer_linklist].title }}</h3>
              <ul class="list-style-none footer-links">
                {% for link in linklists[footer_linklist].links %}
                  <li><a class="footer-menu__link" href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
              </ul>
            {%- else -%}
              <h3 class="footer-menu__title">Footer Menu</h3>
              <ul class="list-style-none footer-links">
                {% for i in (1..6) %}
                  <li><a class="footer-menu__link" href="#">Footer menu {{ i }}</a></li>
                {% endfor %}
              </ul>
            {%- endif -%}
          </div>

          {%- when 'form' -%}
          <div class="footer-item footer-form footer-contact-form position-relative">
            <div class="form-container">
              <h3 class="footer-menu__title">{{ block.settings.form_title }}</h3>
              {%- if block.settings.map_img != blank -%}
                <div class="position-relative store-location" style="padding-top: 22.22%">
                  {% render 'image', m_img: block.settings.map_img, image_alt: 'Store location' %}
                </div>
              {%- endif -%}
              {% form 'contact' %}
                <input type="email" placeholder="{{ block.settings.email_text }}" name="contact[email]" required/>
                <textarea placeholder="{{ block.settings.review_text }}" name="contact[body]" required></textarea>
                <button class="btn {{ block.settings.btn_style }}">{{ block.settings.submit_text }}{%- if block.settings.submit_text_icon -%}{% render 'render_icon', icon_name: block.settings.submit_text_icon %}{%- endif -%}</button>
              {% endform %}
            </div>
          </div>

          {%- when 'newsletter' -%}
          <div class="footer-item footer-form footer-newsletter position-relative">
            <div class="form-container">
              <h3 class="footer-menu__title">{{ block.settings.form_title }}</h3>

              {%- if settings.newsletter_service == 'shopify-default' -%}
                {% form 'customer', class: 'ds-flex flex-wrap position-relative' %}
                  {% render 'form_status', form: form, form_id: formId, success_message: 'general.newsletter_form.confirmation' | t %}
                  {% unless form.posted_successfully? %}
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    <input type="email" name="contact[email]" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ block.settings.email_text }}" autocorrect="off" autocapitalize="off">
                    <button type="submit" name="commit" class="btn-icon">{% render 'icon-dir-right' %}</button>
                  {% endunless %}
                {% endform %}
              {%- else -%}
                <form class="ds-flex flex-wrap position-relative" action="{{ settings.newsletter_form_action }}" method="post" target="_blank" name="mc-embedded-subscribe-form">
                  <input type="email" placeholder="{{ block.settings.email_text }}" name="EMAIL" required/>
                  <button type="submit" class="btn-icon">{% render 'icon-dir-right' %}</button>
                </form>
              {%- endif -%}

              <p class="description">{{ block.settings.description | newline_to_br }}</p>
            </div>
          </div>

          {%- when 'contact_details' -%}
          <div class="footer-item position-relative">
            <h3 class="footer-menu__title">{{ block.settings.title }}</h3>

            {%- if block.settings.phone_1 != blank or block.settings.phone_2 != blank -%}
              <div class="ds-flex align-stretch footer-contact__details">
                {%- if block.settings.show_icon -%}
                  <div class="icon-wrapper" style="color:{{ block.settings.color_icon }}">
                    {% render 'icon-phone' %}
                  </div>
                {%- endif -%}
                <div class="footer-text" style="color:{{ block.settings.color_text }}">
                  <span class="ds-block">{{ block.settings.phone_1 }}</span>
                  <span class="ds-block">{{ block.settings.phone_2 }}</span>
                </div>
              </div>
            {%- endif -%}

            {%- if block.settings.email_1 != blank or block.settings.email_2 != blank -%}
              <div class="ds-flex align-stretch footer-contact__details">
                {%- if block.settings.show_icon -%}
                  <div class="icon-wrapper" style="color:{{ block.settings.color_icon }}">
                    {% render 'icon-email' %}
                  </div>
                {%- endif -%}
                <div class="footer-text" style="color:{{ block.settings.color_text }}">
                  <span class="ds-block ds-block-mobile">{{ block.settings.email_1 }}</span>
                  <span class="ds-block ds-block-mobile">{{ block.settings.email_2 }}</span>
                </div>
              </div>
            {%- endif -%}

            {%- if block.settings.skype_1 != blank or block.settings.skype_2 != blank -%}
              <div class="ds-flex align-stretch footer-contact__details">
                {%- if block.settings.show_icon -%}
                  <div class="icon-wrapper" style="color:{{ block.settings.color_icon }}">
                    {% render 'icon-skype' %}
                  </div>
                {%- endif -%}
                <div class="footer-text" style="color:{{ block.settings.color_text }}">
                  <span class="ds-block">{{ block.settings.skype_1 }}</span>
                  <span class="ds-block">{{ block.settings.skype_2 }}</span>
                </div>
              </div>
            {%- endif -%}

            {%- if block.settings.note != blank -%}
              <div class="ds-flex align-stretch add-note">
                <p class="footer-text" style="color: {{ block.settings.color_note }}">{{ block.settings.note | newline_to_br }}</p>
              </div>
            {%- endif -%}
          </div>

          {%- when 'footer_social_icons' -%}
          <div class="footer-item position-relative block-{{ block.id }}">
            <h3 class="footer-menu__title">{{ block.settings.title }}</h3>
            {% render 'footer_social_icons' %}
            <style>.block-{{ block.id }} .social-link{border-color:{{block.settings.color_icon_bd}};background-color:{{block.settings.color_icon_bg}};color:{{block.settings.color_icon}}}</style>
          </div>

          {%- when 'instagram' -%}
          <div class="footer-item position-relative vs-instagram">
            <h3 class="footer-menu__title">{{ block.settings.title }}</h3>
            <div class="instagram-images ds-flex row"
              data-hashtag="{{ block.settings.hashtag }}"
              data-grid="{{ block.settings.grid_count }}"
              data-count="{{ block.settings.limit }}"></div>
          </div>
        {%- endcase -%}
      {%- endfor -%}
    </div><!-- .container -->
  </div><!-- .footer-main -->

  {%- assign bottoms = section.blocks | where: "type", "footer_bottom" -%}
  {% for block in bottoms %}
    {% render 'footer_bottom' with block %}
  {% endfor %}

</footer><!-- footer -->

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "header",
      "content": "Footer Style"
    },
    {
      "type": "select",
      "id": "footer_style",
      "label": "Footer link style",
      "options": [
        {"value": "footer-style1", "label": "Style 1"},
        {"value": "footer-style2", "label": "Style 2"},
        {"value": "footer-style3", "label": "Style 3"},
        {"value": "footer-style4", "label": "Style 4"},
        {"value": "footer-style5", "label": "Style 5"},
        {"value": "footer-style6", "label": "Style 6"},
        {"value": "footer-style7", "label": "Style 7"}
      ],
      "default": "footer-style1"
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo image"
        }
      ]
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "link_list",
          "label": "Menu",
          "default": "footer",
          "info": "This menu won't show dropdown items"
        }
      ]
    },
    {
      "type": "form",
      "name": "Contact Form",
      "settings": [
        {
          "type": "image_picker",
          "id": "map_img",
          "label": "Location image",
          "info": "270px*60px recommended"
        },
        {
          "type": "text",
          "id": "form_title",
          "label": "Title",
          "default": "QUICK CONTACT"
        },
        {
          "type": "text",
          "id": "email_text",
          "label": "Email Placeholder",
          "default": "Enter your e-mail*"
        },
        {
          "type": "text",
          "id": "review_text",
          "label": "Review Placeholder",
          "default": "Write your review*"
        },
        {
          "type": "text",
          "id": "submit_text",
          "label": "Button Text",
          "default": "Send"
        },
        {
          "type": "text",
          "id": "submit_text_icon",
          "label": "Icon after text"
        },
        {
          "type": "select",
          "id": "btn_style",
          "label": "Button style",
          "options": [
            {"value": "btn-default", "label": "Default button"},
            {"value": "btn-text", "label": "Text link"}
          ],
          "default": "btn-default"
        }
      ]
    },
    {
      "type": "contact_details",
      "name": "Contact Details",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Contact Details"
        },
        {
          "type": "checkbox",
          "id": "show_icon",
          "label": "Show Icons",
          "default": true
        },
        {
          "type": "text",
          "id": "phone_1",
          "label": "Phone Number 1",
          "default": "0203 - 980 - 14 - 79"
        },
        {
          "type": "text",
          "id": "phone_2",
          "label": "Phone Number 2",
          "default": "0203 - 478 - 12 - 96"
        },
        {
          "type": "text",
          "id": "email_1",
          "label": "First Email",
          "default": "vene@gmail.com"
        },
        {
          "type": "text",
          "id": "email_2",
          "label": "Second Email",
          "default": "venedor@mail.com"
        },
        {
          "type": "text",
          "id": "skype_1",
          "label": "Skype contact 1",
          "default": "ven_shop_contact"
        },
        {
          "type": "text",
          "id": "skype_2",
          "label": "Skype contact 2",
          "default": "venedor_support"
        },
        {
          "type": "textarea",
          "id": "note",
          "label": "Additional note"
        },
        {
          "type": "color",
          "id": "color_icon",
          "label": "Icon color",
          "default": "#d4dde5"
        },
        {
          "type": "color",
          "id": "color_text",
          "label": "Text color",
          "default": "#d4dde5"
        },
        {
          "type": "color",
          "id": "color_note",
          "label": "Note color",
          "default": "#333333"
        }
      ]
    },
    {
      "type": "footer_social_icons",
      "name": "Social",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Follow us"
        },
        {
          "type": "header",
          "content": "Social icons color"
        },
        {
          "type": "color",
          "id": "color_icon",
          "label": "Icon color",
          "default": "#fff",
          "info": "Color of the icons"
        },
        {
          "type": "color",
          "id": "color_icon_bd",
          "label": "Icon border color",
          "default": "rgba(0,0,0,0)",
          "info": "Border color of the icons"
        },
        {
          "type": "color",
          "id": "color_icon_bg",
          "label": "Icon background",
          "info": "Background color of the icons",
          "default": "#2d79fd"
        }
      ]
    },
    {
      "type": "instagram",
      "name": "Instagram Images",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Instagram"
        },
        {
          "type": "text",
          "id": "hashtag",
          "label": "Instagram hashtag",
          "default": "#venedor_electronics"
        },
        {
          "type": "range",
          "id": "limit",
          "min": 1,
          "max": 20,
          "step": 1,
          "label": "Number of images to show",
          "default": 6
        },
        {
          "type": "range",
          "id": "grid_count",
          "min": 1,
          "max": 8,
          "step": 1,
          "label": "Number of images in a row",
          "default": 3
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter Form",
      "settings": [
        {
          "type": "text",
          "id": "form_title",
          "label": "Title",
          "default": "Stay up to date"
        },
        {
          "type": "text",
          "id": "email_text",
          "label": "Email Placeholder",
          "default": "your@email.com*"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description",
          "default": "Venedor club members receive\n a <ins><i>15% discount<\/i><\/ins> redeemable against all orders. New friends get free shipping on your first order!"
        }
      ]
    },
    {
      "type": "footer_bottom",
      "name": "Footer bottom",
      "settings": [
        {
          "type": "radio",
          "id": "style",
          "label": "Bottom Style",
          "options": [
            { "value": "center", "label": "Center" },
            { "value": "space-between", "label": "Space Between" }
          ],
          "default": "space-between"
        },
        {
          "type": "radio",
          "id": "type",
          "label": "Content Type",
          "options": [
            { "value": "social_icons", "label": "Copyright with Social Icons" },
            { "value": "store_payment", "label": "Payment Providers" },
            { "value": "custom_image", "label": "Custom Images" },
            { "value": "none", "label": "Hide" }
          ],
          "default": "social_icons"
        },
        {
          "type": "textarea",
          "id": "block_title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "copyright",
          "label": "Text",
          "default": "&copy; Venedor Shopify Theme. Powered by Shopify."
        },
        {
          "type": "header",
          "content": "Social icons color"
        },
        {
          "type": "color",
          "id": "color_icon",
          "label": "Icon color",
          "default": "#999999",
          "info": "Color of the icons"
        },
        {
          "type": "color",
          "id": "color_icon_bd",
          "label": "Icon border color",
          "default": "rgba(0,0,0,0)",
          "info": "Border color of the icons"
        },
        {
          "type": "color",
          "id": "color_icon_bg",
          "label": "Background color of the icons",
          "default": "rgba(255,255,255,0.1)"
        },
        {
          "type": "image_picker",
          "id": "m_img",
          "label": "Custom image on bottom content",
          "info": "310x28px recommended"
        }
      ]
    }
  ]
}
{% endschema %}
