    {%- assign slide_layout = section.settings.slide_layout -%}

<div style="margin: {{ section.settings.margin }};" class="product-showcase-mobile">
  <div class="{{ slide_layout }} position-relative" style="background-color: {{ section.settings.color_back }}">
    <div class="product-showcase__wrapper">
      {%- if section.settings.title != blank -%}
        {%- if section.settings.product_url != blank -%}
          <a href="{{ section.settings.product_url }}">
        {%- endif -%}
        <h2 class="text-center" style="color:{{section.settings.color_title}}">{{ section.settings.title | newline_to_br }}</h2>
        {%- if section.settings.product_url != blank -%}
          </a>
        {%- endif -%}
      {%- endif -%}

      <div class="position-relative">
        {%- if section.settings.product_img != blank -%}
          <div class="position-relative image-container {% if section.settings.has_minheight %} has-minheight{% endif %}">
            <div class="position-relative">
              {%comment%}
              {% render 'image', m_img: section.settings.product_img %}
              {%endcomment%}
              <video loop="loop" muted="" autoplay="autoplay" preload="" id="vid" width =100%>
					<source src="https://cdn.shopify.com/s/files/1/0421/5108/4199/files/Soule-Skincare-Homepage-Video-2.mp4?v=1618858545" type="video/mp4">
              </video>
            </div>
          </div>


       		
        {%- else -%}
          <div class="position-relative image-container fade-appear{% if section.settings.has_minheight %} has-minheight{% endif %}">
            <div class="position-relative" style="padding-top: 90.7%">
              {{ 'product-5' | placeholder_svg_tag: 'placeholder' }}
            </div>
          </div>
        {%- endif -%}
        
        


        

        <div class="info-container ds-flex flex-column space-around" style="overflow: hidden;">
          {%- for block in section.blocks -%}
            {% capture thecycle %}{% cycle 'even', 'odd' %}{% endcapture %}
            {%- if thecycle == 'even' -%}
              <div class="ds-flex space-between">
                <div class="ds-flex align-center text-right" {{ block.shopify_attributes }}>
                  <div class="text-wrapper" style: "max-width: 280px; width: 280px;">
                    {%- if block.settings.title != blank -%}
                      <h3 style="color: {{ section.settings.color_t }}; font-family: 'work-sans', serif !important; text-transform: uppercase;font-weight: 300; font-size: 1.8rem; text-align: right;">{{ block.settings.title }}</h3>
                    {%- endif -%}
                    {%- if block.settings.desc != blank -%}
                      <p style="color: {{ section.settings.color_desc }}">{{ block.settings.desc | newline_to_br }}</p>
                    {%- endif -%}
                  </div>

                  <div class="icon-wrapper ds-flex align-center justify-center" style="background-color:{{ section.settings.color_ibg }};color:{{ section.settings.color_icon }}; width: 0; ">
                    {% render 'render_icon', icon_name: block.settings.icon %}
                  </div>
                </div>
            {%- else -%}
                <div class="ds-flex align-center text-left" {{ block.shopify_attributes }}>
                  <div class="icon-wrapper ds-flex align-center justify-center" style="background-color:{{ section.settings.color_ibg }};color:{{ section.settings.color_icon }}; width: 0; ">
                    {% render 'render_icon', icon_name: block.settings.icon %}
                  </div>

                  <div class="text-wrapper" style: "max-width: 280px; width: 280px;">
                    {%- if block.settings.title != blank -%}
                      <h3 style="color: {{ section.settings.color_t }}; font-family: 'work-sans', serif; text-transform: uppercase;font-weight: 300; font-size: 1.8rem; text-align: left;">{{ block.settings.title }}</h3>
                    {%- endif -%}
                    {%- if block.settings.desc != blank -%}
                      <p style="color: {{ section.settings.color_desc }}">{{ block.settings.desc | newline_to_br }}</p>
                    {%- endif -%}
                  </div><!-- text-wrapper -->

                </div><!-- .ds-flex.align-center.text-left -->
              </div><!-- .ds-flex.space-between -->
            {%- endif -%}
          {%- endfor -%}
        </div><!-- .info-container -->
      </div><!-- .position-relative -->
    </div><!-- product-showcase__wrapper -->
  </div><!-- .slide_layout -->
</div>





{% schema %}
{
  "name": "Product Showcase",
  "tag": "section",
  "class": "vs-product-showcase",
  "settings": [
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "select",
      "id": "slide_layout",
      "label": "Section Width",
      "options": [
        { "value": "container", "label": "Fixed Width" },
        { "value": "full-width-container", "label": "Full Width" }
      ],
      "default": "full-width-container"
    },
    {
      "type": "text",
      "id": "margin",
      "label": "Section Margin",
      "info": "Set margin for section top-right-bottom-left (e.g. 20px 15px 10px 0)"
    },
    {
      "type": "checkbox",
      "id": "has_minheight",
      "label": "Set minimum height 320px on mobiles",
      "info": "Background images and videos can be cropped when this option is enabled",
      "default": true
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "Section Title",
      "default": "Noise-Canceling\nHeadphones"
    },
    {
      "type": "color",
      "id": "color_title",
      "label": "Title color",
      "default": "#ffffff"
    },
    {
      "type": "url",
      "id": "product_url",
      "label": "Product Link"
    },
    {
      "type": "image_picker",
      "id": "product_img",
      "label": "Product image",
      "info": "644px*710px recommended"
    },
    {
      "type": "textarea",
      "id": "videolink",
      "label": "Video link",
      "default": "//cdn.shopify.com/s/files/1/0278/0859/6071/files/txtandvideo_01.mp4?1600",
      "info": "Upload your video in settings > files. Copy video link and paste in the field"
    },
    {
      "type": "color",
      "id": "color_back",
      "label": "Background Color",
      "default": "#0c1a2b"
    },
    {
      "type": "header",
      "content": "Product Information Texts"
    },
    {
      "type": "color",
      "id": "color_t",
      "label": "Information title color",
      "default": "#dee3e8"
    },
    {
      "type": "color",
      "id": "color_desc",
      "label": "Description color",
      "default": "#5a6476"
    },
    {
      "type": "color",
      "id": "color_ibg",
      "label": "Icon background color",
      "default": "#18263e"
    },
    {
      "type": "color",
      "id": "color_icon",
      "label": "Icon color",
      "default": "#f0f4f8"
    }
  ],
  "blocks": [
    {
      "type": "information",
      "name": "Product information",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "All-Day Play"
        },
        {
          "type": "textarea",
          "id": "desc",
          "label": "Description",
          "default": "Donec semper, ante eget rutrum varius, orci\nmetus. Sed sed sapien id diam dictum ..."
        },
        {
          "type": "text",
          "id": "icon",
          "label": "Icon Name",
          "default": "icon-play-1"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Product Showcase",
    "category": "Products",
    "blocks": [
      { "type": "information" },
      { "type": "information" },
      { "type": "information" },
      { "type": "information" },
      { "type": "information" },
      { "type": "information" }
    ]
  }]
}
{% endschema %}

{% stylesheet %}
.section-hura-video{
  width:100%;
}
.hurabg-video{
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}
{% endstylesheet %}