{%- if section.settings.show_related_products -%}
<div itemtype="http://schema.org/Product" style="margin: {{ section.settings.margin }};">
  {%- assign number_per_row = section.settings.number_per_row -%}
  {%- assign number_of_rows = section.settings.number_of_rows -%}
  {%- assign section_title = section.settings.section_title -%}
  {%- assign enable_carousel = section.settings.enable_carousel -%}

  {%- assign same_vendor = false -%}
  {%- assign same_type = false -%}

  {%- assign exclusions = 'frontpage,all' | split: ',' %}

  {%- if product.metafields.c_f['Related Products'] -%}
    {%- assign c_collection = collections[product.metafields.c_f['Related Products']] -%}
  {%- endif -%}

  {%- assign found_a_collection = false -%}

  {%- if c_collection and c_collection.all_products_count > 1 %}
    {%- unless exclusions contains c_collection.handle -%}
      {%- assign found_a_collection = true -%}
    {%- endunless -%}
  {%- endif -%}

  {%- unless found_a_collection -%}
    {%- for c in product.collections -%}
      {% unless exclusions contains c.handle or c.all_products_count < 2 %}
        {%- assign found_a_collection = true -%}
        {%- assign c_collection = c -%}
        {%- break -%}
      {% endunless %}
    {% endfor %}
  {% endunless %}

  {%- if found_a_collection -%}

    {%- assign counter = 0 -%}
    {%- assign break_at = number_of_rows | times: number_per_row -%}
    {%- assign current_product = product -%}

    {%- capture related_items -%}
      {%- for product in collections.all.products -%}
        {%- unless product.handle == current_product.handle -%}
          {%- unless same_vendor and current_product.vendor != product.vendor -%}
            {%- unless same_type and current_product.type != product.type -%}
              <div class="card-wrapper grid-items__{{ number_per_row }}">
                {% render 'product_card', product: product %}
              </div>
              {%- assign counter = counter | plus: 1 -%}
              {%- if counter == break_at -%}
                {%- break -%}
              {%- endif -%}
            {%- endunless -%}
          {%- endunless -%}
        {%- endunless -%}
      {%- endfor -%}
    {%- endcapture -%}

    {%- assign related_items = related_items | trim -%}

    {%- unless related_items == blank -%}
      <div class="content-slideshow container {{ section.settings.nav_style }} vertical-default">
        {%- if section_title != blank -%}
          <h3 class="block-title">{{ section_title }}</h3>
        {%- endif -%}

        {%- if enable_carousel -%}
          <div class="items-carousel"
            data-auto="{{ section.settings.auto_speed }}"
            data-dots="{{ section.settings.show_dots }}"
            data-nav="{{ section.settings.show_nav }}"
            data-wraparound="true"
            data-cellalign="left">
        {%- else -%}
          <div class="row">
        {%- endif -%}
          {{ related_items }}
        </div><!-- .items-carousel / .row -->
      </div><!-- .content-slideshow -->
    {%- endunless -%}

  {%- endif -%}
</div>
{%- endif -%}

{% schema %}
{
  "name": "Related Products",
  "tag": "section",
  "class": "vs-initialize-slider",
  "settings": [
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "checkbox",
      "id": "show_related_products",
      "label": "Show Related Products",
      "default": true
    },
    {
      "type": "text",
      "id": "margin",
      "label": "Section Margin",
      "info": "Set margin for section top-right-bottom-left (e.g. 20px 15px 10px 0)",
      "default": "110px 0 150px"
    },
    {
      "type": "header",
      "content": "Section Configuration"
    },
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "related products"
    },
    {
      "type": "checkbox",
      "id": "enable_carousel",
      "label": "Enable Carousel",
      "info": "Disable to show products in grid layout",
      "default": true
    },
    {
      "type": "range",
      "id": "number_per_row",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Products to show per row",
      "default": 5
    },
    {
      "type": "range",
      "id": "number_of_rows",
      "min": 1,
      "max": 5,
      "step": 1,
      "label": "Number of rows",
      "default": 1
    },
    {
      "type": "text",
      "id": "auto_speed",
      "label": "Autoplay Speed",
      "info": "5 means rotate every 5 seconds. 0 to disable auto rotate.",
      "default": "5"
    },
    {
      "type": "checkbox",
      "id": "show_dots",
      "label": "Show Pagination Dots",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_nav",
      "label": "Show Navigation",
      "default": true
    },
    {
      "type": "select",
      "id": "nav_style",
      "label": "Navigator position",
      "options": [
        { "value": "nav-top__right", "label": "Top right" },
        { "value": "nav-top__center", "label": "Top center" },
        { "value": "nav-middle", "label": "Middle center" }
      ],
      "default": "nav-top__right"
    }
  ]
}
{% endschema %}
