{%- if section.settings.show_promo -%}
<div class="service-promotion{% if section.settings.show_border %} show_border{% endif %}" style="margin:{{ section.settings.margin }};background-color:{{ section.settings.bg }}">
  <div class="container">
    {%- if section.settings.title != blank -%}
      <h3 class="block-title">{{ section.settings.title }}</h3>
    {%- endif -%}
    <div class="row" style="margin:0 -{{section.settings.item_space}}px">
      {%- assign count = section.settings.row_size -%}
      {%- for block in section.blocks -%}
        <div class="large-{{ 12 | divided_by: count }} split{% if section.settings.split_border %} split-border{% endif %}" style="margin:{{ section.settings.padding }}" {{ block.shopify_attributes }}>
          {% render 'promotion', promo_icon: block.settings.promo_icon, promo_title: block.settings.promo_title, promo_text: block.settings.promo_text %}
        </div>
      {%- endfor -%}
    </div><!-- .row -->
  </div><!-- .container -->
</div><!-- .service-promotion -->
<style>
#shopify-section-{{ section.id }} .promo-container {margin:0 {{ section.settings.item_space }}px;padding:{{ section.settings.item_padding }};background-color:{{ section.settings.item_bg }}}
#shopify-section-{{ section.id }} .promo-icon {color:{{ section.settings.c_icon | default: settings.c_theme }}}
#shopify-section-{{ section.id }} .promo-title {color:{{ section.settings.c_title }}}
#shopify-section-{{ section.id }} .promo-text {color:{{ section.settings.c_text }}}
</style>
{%- endif -%}

{% schema %}
{
  "name": "Service Promotion Type 2",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_promo",
      "label": "Show section",
      "default": true
    },
    {
      "type": "text",
      "id": "margin",
      "label": "Section margin",
      "info": "Set margin for section top-right-bottom-left (e.g. 20px 15px 10px 0)"
    },
    {
      "type": "text",
      "id": "padding",
      "label": "Section padding",
      "info": "Set padding for section top-right-bottom-left (e.g. 20px 15px 10px 0)",
      "default": "35px 0 35px 0"
    },
    {
      "type": "color",
      "id": "bg",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Section Title"
    },
    {
      "type": "checkbox",
      "id": "show_border",
      "label": "Show top and bottom border",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "split_border",
      "label": "Show border between items",
      "default": true
    },
    {
      "type": "select",
      "id": "row_size",
      "label": "Block count in one row",
      "options": [
        {"value": "1", "label": "1"},
        {"value": "2", "label": "2"},
        {"value": "3", "label": "3"},
        {"value": "4", "label": "4"},
        {"value": "5", "label": "5"},
        {"value": "6", "label": "6"}
      ],
      "default": "4"
    },
    {
      "type": "text",
      "id": "item_padding",
      "label": "Item padding",
      "info": "Set item padding - top-right-bottom-left (e.g. 20px 15px 10px 0)",
      "default": "22px 22px 22px 22px"
    },
    {
      "type": "range",
      "id": "item_space",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Space between items",
      "default": 15
    },
    {
      "type": "color",
      "id": "item_bg",
      "label": "Item background color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "c_icon",
      "label": "Icon color"
    },
    {
      "type": "color",
      "id": "c_title",
      "label": "Title color",
      "default": "#33393e"
    },
    {
      "type": "color",
      "id": "c_text",
      "label": "Text color",
      "default": "#999999"
    }
  ],
  "blocks": [
    {
      "type": "icon-text",
      "name": "Icon and Text",
      "settings": [
        {
          "type": "text",
          "id": "promo_icon",
          "label": "Icon Name"
        },
        {
          "type": "textarea",
          "id": "promo_title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "promo_text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Service Promotion Type 2",
    "category": "Text Section",
    "blocks": [
      {
        "type": "icon-text",
        "settings": {
          "promo_icon": "icon-truck",
          "promo_title": "Free Delivery",
          "promo_text": "Cras pellentesque, nisi ac tempus pellentesqna"
        }
      },
      {
        "type": "icon-text",
        "settings": {
          "promo_icon": "icon-headset2",
          "promo_title": "24/h support",
          "promo_text": "Pellenteque habitant morbi senectus et netus et male"
        }
      },
      {
        "type": "icon-text",
        "settings": {
          "promo_icon": "icon-back-smooth-1",
          "promo_title": "30 - Day returns",
          "promo_text": "In nec erat elementum, et venenatis purus nec"
        }
      },
      {
        "type": "icon-text",
        "settings": {
          "promo_icon": "icon-lock-wide",
          "promo_title": "payment secured",
          "promo_text": "Mauris interdum nulla ante dignissim, vel malesuada"
        }
      }
    ]
  }]
}
{% endschema %}
