<div class="cart-template container">
  <h1 class="page-title">{{ 'cart.general.title' | t }}</h1>

  
   		
  {%- if cart.item_count > 0 -%}
  <form action="/cart" method="post" novalidate>
    <div class="row">
      <div class="medium-12 large-8 huge-9 col-padding">
        <div class="cart-list__wrapper">
          <div class="cart-header ds-flex">
            <div class="cart-list__img"></div>
            <b class="cart-list__name text-center">{{ 'cart.label.product_name' | t }}</b>
            <b class="product-price text-center">{{ 'cart.label.price' | t }}</b>
            <b class="product-qty text-center">{{ 'cart.label.quantity' | t }}</b>
            <div class="cart-actions"></div>
          </div>

          <div class="cart-list">
            {%- for item in cart.items -%}
              <div class="cart-item ds-flex align-center">
                <div class="cart-list__img" data-label="{{ 'customer.order.product' | t }}">
                  <a href="{{ item.url | within: collections.all }}" class="image-loading">
                    <img class="cart__image lazyload" data-src="{{ item | img_url: '100x100', scale: 2 }}" alt="{{ item.title | escape }}">
                  </a>
                </div><!-- .cart-list__img -->

                <div class="cart-item__info ds-flex align-center">
                  <div class="cart-list__name">
                    <h3 class="product-name">
                      <a href="{{ item.url }}">{{ item.product.title }}</a>
                      {%- unless item.variant.title contains 'Default' -%}
                      
                      {% include 'paywhirl-subscriptions-cart-selling-plans', item: item %}
                        <div class="cart-product__options">
                          {%- for option in item.product.options -%}
                            <i>{{ option }}: {{ item.variant.options[forloop.index0] }}</i><br/>
                          {%- endfor -%}
                        </div>
                      {%- endunless -%}
                    </h5>
                    {%- assign property_size = item.properties | size -%}
                    {%- if property_size > 0 -%}
                      <div>
                        {%- for p in item.properties -%}
                          {%- unless p.last == blank -%}
                            {{ p.first }}:
                            {%- if p.last contains '/uploads/' -%}
                              <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                            {%- else -%}
                              {{ p.last }}
                            {%- endif -%}
                          {%- endunless -%}
                        {%- endfor -%}
                      </div>
                    {%- endif -%}
                  </div><!-- .cart-list__name -->

                  <div class="product-price text-center">
                    {%- if compare_at_price > price -%}
                      <span class="old-price money">{% render 'format_money' with item.compare_at_price %}</span>
                      <span class="sale-price current-price money">{% render 'format_money' with item.price %}</span>
                    {%- else -%}
                      <span class="current-price money">{% render 'format_money' with item.price %}</span>
                    {%- endif -%}

                    {%- for discount in item.discounts -%}
                      <div>{{ discount.title }}</div>
                    {%- endfor -%}
                  </div><!-- .product-price -->

                  <div class="qty-control position-relative">
                    <div class="reduce text-center" onclick="var result = document.getElementById('updates_{{ item.id }}'); var qty = result.value; if( !isNaN( qty ) &amp;&amp; qty > 1 ) result.value--;return false;">-</div>
                    <input type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="1" class="quantity text-center" />
                    <div class="increase text-center" onclick="var result = document.getElementById('updates_{{ item.id }}'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;">+</div>
                  </div><!-- .qty-control -->

                  <div title="{{ 'cart.general.edit' | t }}" class="cart-actions ds-flex align-center">
                    <a href="{{ item.url }}" class="edit">{% render 'icon-pencil' %}</a>
                    <a href="{{routes.cart_change_url}}?id={{ item.key }}&amp;quantity=0" title="{{ 'cart.general.remove' | t }}" class="remove btn-remove-cart" data-id="{{ item.id }}" data-no-instant>{% render 'icon-close' %}</a>
                  </div><!-- .cart-actions.ds-flex -->
                </div><!-- .cart-item__info -->
              </div><!-- .cart-item -->
            {%- endfor -%}

            <div class="buttons-container ds-flex flex-wrap">
              <a href="/" class="btn btn-default">{{ 'cart.general.continue_shopping' | t }}</a>
              <button type="submit" class="btn btn-default active ml-auto">{{ 'cart.general.update' | t }}</button>
            </div><!-- .buttons-container -->
          </div><!-- .cart-list -->
        </div><!-- .cart-list__wrapper -->

        {%- if section.settings.cart_instruction -%}
          <div class="cart-note">
            <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
            <textarea name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea>
          </div><!-- .cart-note -->
        {%- endif -%}
      </div>

      <div class="medium-12 large-4 huge-3 col-padding sidebar">

        <input type="submit" name="checkout" class="btn btn-default active" value="{{ 'cart.general.checkout' | t }}">

        {%- if section.settings.shipping_calc -%}
          <div class="shipping opened">
            <h2 class="shipping-title expander ds-flex align-center">{{'cart.shipping.title' | t}}{% render 'icon-dir-down' %}</h2>
            {% render 'shipping_calculator' %}
          </div>
        {%- endif -%}

        <div class="cart-summary opened">
          <h2 class="cart-summary__title expander ds-flex align-center">{{ 'cart.general.cart_totals' | t }}{% render 'icon-dir-down' %}</h2>
          <div class="expandable">
            <div class="summary-item ds-flex">
              <span>{{ 'cart.general.subtotal' | t }}</span>
              <span class="ml-auto vnd-cart__total-origin">{% render 'format_money' with cart.original_total_price %}</span>
            </div><!-- .summary-item.ds-flex -->
            <div class="summary-item ds-flex">
              <span>{{ 'cart.general.savings' | t }}</span>
              <span class="ml-auto vnd-cart-discount">{% render 'format_money' with cart.total_discount %}</span>
            </div><!-- .summary-item.ds-flex -->
            <div class="summary-item ds-flex">
              <span class="ml-auto">{{ 'cart.shipping.shipping_at_checkout' | t }}</span>
            </div><!-- .summary-item.ds-flex -->
            <div class="summary-total ds-flex">
              <span class="vnd-cart__total-final">{{ 'cart.general.grand_total' | t }}</span>
              <span class="product-price ml-auto"><span class="current-price money">{% render 'format_money' with cart.total_price %}</span></span>
            </div><!-- .summary-total.ds-flex -->

            <input type="submit" name="checkout" class="btn btn-default" value="{{ 'cart.general.checkout' | t }}">

          </div><!-- .expandable -->
        </div><!-- .cart-summary.opened -->
      </div><!-- .medium-12.large-4.huge-3 -->
    </div><!-- .row -->
  </form>
  {%- else -%}
    <div class="ds-flex flex-column text-center cart-empty">
      <p>{{ 'cart.general.empty' | t }}</p>
      <a class="btn btn-default" href="/collections/all">{{ 'cart.general.continue_shopping' | t }}</a>
    </div>
  {%- endif -%}
</div><!-- .cart-template.container -->
<style>
.cart-header {background-color:{{ section.settings.c_list_hd_bg }};color:{{ section.settings.c_list_hd }};}
.cart-summary__title,.shipping-title{background:{{ section.settings.c_sidebar_hd_bg }};color:{{ section.settings.c_sidebar_hd }};}
.cart-template .expandable{background-color:{{ section.settings.c_sidebar_bd_bg }};color:{{ section.settings.c_sidebar_bd }};}
</style>
{% schema %}
{
  "name": "Cart Section",
  "settings": [
    {
      "type": "checkbox",
      "id": "cart_instruction",
      "label": "Enable Special Instructions",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "shipping_calc",
      "label": "Show Shipping Calculator",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_recent",
      "label": "Show Recently Viewed Products",
      "default": true
    },
    {
      "type": "header",
      "content": "List"
    },
    {
      "type": "color",
      "id": "c_list_hd_bg",
      "label": "Header background color",
      "default": "#fafafa"
    },
    {
      "type": "color",
      "id": "c_list_hd",
      "label": "Header text color",
      "default": "#555555"
    },
    {
      "type": "header",
      "content": "Cart Summary (Sidebar)"
    },
    {
      "type": "color",
      "id": "c_sidebar_hd_bg",
      "label": "Header background color",
      "default": "#fafafa"
    },
    {
      "type": "color",
      "id": "c_sidebar_hd",
      "label": "Header text color",
      "default": "#555555"
    },
    {
      "type": "color",
      "id": "c_sidebar_bd_bg",
      "label": "Body background color",
      "default": "#fcfcfc"
    },
    {
      "type": "color",
      "id": "c_sidebar_bd",
      "label": "Body text color",
      "default": "#666666"
    }
  ]
}
{% endschema %}
