{%- assign sidebar_pos = section.settings.sidebar_pos -%}
{%- assign per_page = section.settings.per_page -%}
{%- assign blog_date = section.settings.blog_date -%}
{%- assign show_comment = section.settings.show_comment -%}
{%- assign read_more = section.settings.read_more -%}

<div class="container">
  <div style="border-bottom: 1px solid #000; margin-bottom: 30px;">
      <h1 class="page-title">{{ blog.title }}</h1>
            {%- for block in section.blocks -%}
          <div style="margin-top: 0; margin-bottom: 30px;" class="sidebar-block" {{ block.shopify_attributes }}>
            {%- case block.type -%}

              {%- when "collection_menu" -%}
                {% render 'collection_sidebar_navigation' %}

              {%- when "sidebar_newsletter" -%}
                {% render 'sidebar_newsletter', block_title: block.settings.title, text: block.settings.text, button: block.settings.button %}

              {%- when "recent_posts" -%}
                {% render 'sidebar_blog', block_title: block.settings.title, selected: block.settings.blog,
                  show_count: block.settings.show_count %}

              {%- else -%}
                {% render 'post_tags', block_title: block.settings.title %}

            {%- endcase -%}
          </div><!-- .sidebar-block -->
        {%- endfor -%}
  </div>  


{% paginate blog.articles by per_page %}
  <div class="row">

    {%- if sidebar_pos != 'none'-%}
      <div class="mobile-sidebar-toggler">
        {% render 'icon-dir-left' %}
      </div>

      <div class="home-sidebar mobile-sidebar sticky-dir-up large-3 col-padding {{ section.settings.sidebar_pos }}">
        
        {%- for block in section.blocks -%}
          <div class="sidebar-block" {{ block.shopify_attributes }}>
            {%- case block.type -%}

              {%- when "collection_menu" -%}
                {% render 'collection_sidebar_navigation' %}

              {%- when "sidebar_newsletter" -%}
                {% render 'sidebar_newsletter', block_title: block.settings.title, text: block.settings.text, button: block.settings.button %}

              {%- when "recent_posts" -%}
                {% render 'sidebar_blog', block_title: block.settings.title, selected: block.settings.blog,
                  show_count: block.settings.show_count %}

              {%- else -%}
                {% render 'post_tags', block_title: block.settings.title %}

            {%- endcase -%}
          </div><!-- .sidebar-block -->
        {%- endfor -%}

      </div><!-- .home-sidebar.mobile-sidebar.large-3 -->
    {%- endif -%}

    <div class="{% if sidebar_pos != 'none' %}large-9{% else %}large-12{% endif %} col-padding">
      {% for article in blog.articles %}

            <div class="article {{ section.settings.blog_style }} position-relative" style="width: 385px; display: inline-block;">

          {% if article.image %}
            <div class="article-image">
              <div class="position-relative article-image__container">
                {% render 'image', m_img: article.image, image_alt: article.image.alt, link_to: article.url %}
              </div>
            </div><!-- .article-image -->
          {% endif %}

          <div class="article-details">
            {%- if blog_date -%}
              <div class="article-date">
                <span class="article-date__day">{{ article.published_at | date: "%d" }}</span>

                {%- if section.settings.blog_style == 'blog-style3' -%}
                  <div class="article-date__container">
                {%- endif -%}
                <span class="article-date__month">{{ article.published_at | date: "%b" }}</span>

                {%- if show_comment and article.comments_count > 0 -%}
                  <span class="article-comment__separator">/</span>
                  <span class="article-date__comment">{{ 'blogs.comments.with_count_html' | t: count: article.comments_count }}</span>
                {%- endif -%}

                {%- if section.settings.blog_style == 'blog-style3' -%}
                  </div>
                {%- endif -%}
              </div>
            {%- endif -%}
            <h2 class="article-details__title">{{ article.title |  truncate: 40 }}</h2>

            {%- if section.settings.blog_style == 'blog-style1' -%}
              {%- assign trunc_num = 32 -%}
            {%- else -%}
              {%- assign trunc_num = 48 -%}
            {%- endif -%}
            <p class="article-details__content">{{ article.content | strip_html | truncatewords: trunc_num }}</p>
            {%- if read_more -%}
              <div class="article-details_button">
                {%comment%}
                <a href="{{ article.url }}" class="btn btn-default">{{ 'blogs.article.read_more' | t }}</a>
                {%endcomment%}
                <a href="{{ article.url }}" class="btn btn-third">More Info</a>
              </div>
            {%- endif -%}
          </div><!-- .article-details -->
        </div><!-- .article -->

      {% endfor %}

      <div class="ds-flex space-between align-center block-pagination">
        <p>{{ 'layout.pagination.page' | t: current_page: paginate.current_page, pages: paginate.pages }}</p>
        {% render 'pagination', paginate: paginate %}
      </div><!-- .ds-flex.space-between -->
    </div><!-- .large-9 / .large-12 -->
 
  </div><!-- .row -->
{% endpaginate %}
</div>

{% schema %}
{
  "name": "Blog",
  "tag": "section",
  "class": "blog-section",
  "settings": [
    {
      "type": "select",
      "id": "blog_style",
      "label": "Content Style",
      "options": [
        {"value": "blog-style1", "label": "Style 1"},
        {"value": "blog-style2", "label": "Style 2"},
        {"value": "blog-style3", "label": "Style 3"}
      ],
      "default": "blog-style1"
    },
    {
      "type": "range",
      "id": "per_page",
      "label": "Blog posts per page",
      "min": 1,
      "max": 30,
      "step": 1,
      "default": 4
    },
    {
      "type": "checkbox",
      "id": "blog_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_comment",
      "label": "Show Comment Count",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "read_more",
      "label": "Show Read More Button",
      "default": true
    },
    {
      "type": "header",
      "content": "Sidebar"
    },
    {
      "type": "paragraph",
      "content": "Create a sidebar by adding content blocks."
    },
    {
      "type": "select",
      "id": "sidebar_pos",
      "label": "Show/Hide Sidebar",
      "options": [
        { "value": "right", "label": "Right" },
        { "value": "left", "label": "Left" },
        { "value": "none", "label": "Hide" }
      ],
      "default": "none"
    },
    {
      "type": "range",
      "id": "blocks_gap",
      "min": 0,
      "max": 60,
      "step": 1,
      "unit": "px",
      "label": "Block top/bottom padding",
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "collection_menu",
      "name": "Collection Menu",
      "limit": 1
    },
    {
      "type": "sidebar_newsletter",
      "name": "Newsletter sign up form",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Newsletter"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Subheading",
          "default": "<p>Sign up to get the latest on sales, new releases and more …</p>"
        },
        {
          "type": "text",
          "id": "button",
          "label": "Button text",
          "default": "Submit"
        }
      ]
    },
    {
      "type": "recent_posts",
      "name": "Recent blog posts",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Block title",
          "default": "recent posts"
        },
        {
          "type": "blog",
          "id": "blog",
          "label": "Select blog"
        },
        {
          "type": "select",
          "id": "show_count",
          "label": "Display blog posts",
          "options": [
            { "value": "1", "label": "1" },
            { "value": "2", "label": "2" },
            { "value": "3", "label": "3" },
            { "value": "4", "label": "4" },
            { "value": "5", "label": "5" }
          ],
          "default": "3"
        }
      ]
    },
    {
      "type": "post_tags",
      "name": "Blog post tags",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "tag cloud"
        }
      ]
    }
  ]
}
{% endschema %}
