{%- if section.settings.show -%}
{%- assign gap = section.settings.gap | divided_by: 2 | append: 'px' -%}
<div class="container">
	<div style="margin: {{ section.settings.margin }};">
  {%- if section.blocks.size > 0 -%}
    <div class="{{ section.settings.layout }}">
      <div class="image-layout6 {{ section.settings.design }} ds-flex" style="{% if section.settings.layout == 'container'%}margin:-{{gap}}{% else %}margin: 0 {{gap}}{% endif %}">

        {%- for block in section.blocks -%}
          {%- if block.type == 'image_tall' -%}

            {%- assign prev_index = forloop.index0 | minus: 1 -%}
            {%- if forloop.first != true and section.blocks[prev_index].type != 'image_tall' -%}
              </div>
            {%- endif -%}

            {%- if block.settings.back_img != blank -%}
              {%- assign ar = 100 | divided_by: block.settings.back_img.aspect_ratio -%}
              {%- capture back_img -%}<div class="image-bg lazyload" style="transform: none !important; transition: none !important;" data-bg="{{ block.settings.back_img | img_url: 'master' }}"></div>{%- endcapture -%}
            {%- else -%}
              {%- assign ar = "175.438" -%}
              {%- capture back_img -%}{{ 'image' | placeholder_svg_tag: 'placeholder' }}{%- endcapture -%}
            {%- endif -%}
            <div class="image-tall position-relative {{ section.settings.img_effect }}" style="border:{{ gap }} solid transparent" {{ block.shopify_attributes }}>
              <div class="position-relative overflow-hidden" style="padding-top: {{ ar }}%;">
                {{ back_img }}
              </div>
              <div class="text-content {{ block.settings.content_style }} {{ block.settings.content_vp}}" style="background-color: #fff; bottom: 0;">
                <div class="{{ block.settings.content_hp }}">
                  {%- if block.settings.sub_title != blank -%}
                    <h3 style="color: {{ block.settings.sub_color }};">{{ block.settings.sub_title }}</h3>
                  {%- endif -%}

                  {%- if block.settings.title != blank -%}
                    <h2 style="color: {{ block.settings.color_title }}; margin-bottom: 0; font-size: 2em;">{{ block.settings.title }}</h2>
                  {%- endif -%}

                  {%- if block.settings.desc != blank -%}
                    <p style="color: {{ block.settings.color_desc }}; padding-bottom: 10px;">{{ block.settings.desc | newline_to_br }}</p>
                  {%- endif -%}

                  {%- if block.settings.button_title != blank -%}
                    <a href="{{ block.settings.item_link | default: '#' }}" class="btn {{ block.settings.btn_style }}">{{ block.settings.button_title }}</a>
                  {%- endif -%}
                </div>
              </div><!-- .text-content -->

              {%- if block.settings.item_link != blank and block.settings.button_title == blank -%}
                <a href="{{ block.settings.item_link }}" class="link-entire"></a>
              {%- endif -%}
            </div><!-- .image-tall.position-relative -->

            {%- assign next_index = forloop.index0 | plus: 1 -%}
            {%- if section.blocks[next_index] != blank and section.blocks[next_index].type != 'image_tall' -%}
              <div class="images-group ds-flex flex-wrap">
            {%- endif -%}

          {%- else -%}

            {%- if forloop.first -%}
              <div class="images-group ds-flex flex-wrap">
            {%- endif -%}

            <div class="masonry-image position-relative {{ section.settings.img_effect }}" style="border:{{ gap }} solid transparent; margin-bottom: 80px;" {{ block.shopify_attributes }}>
                {%- if block.settings.back_img != blank -%}
                  {%- assign ar = 100 | divided_by: block.settings.back_img.aspect_ratio -%}
                  {%- capture back_img -%}<div  class="image-bg lazyload b-and-after-css-m" style="transform: none !important; transition: none !important;" data-bg="{{ block.settings.back_img | img_url: 'master' }}"></div>{%- endcapture -%}
                {%- else -%}
                  {%- assign ar = "58.82" -%}
                  {%- capture back_img -%}{{ 'image' | placeholder_svg_tag: 'placeholder' }}{%- endcapture -%}
                {%- endif -%}
                <div class="position-relative overflow-hidden height-100" style="padding-top:{{ ar }}%" class="image-loading">
                  {{ back_img }}
                   <div class="position-relative text-content {{ block.settings.content_style }} {{ block.settings.content_vp }}" style=" margin-top: -50px;">
                  <div class="{{ block.settings.content_hp }}" >
                    {%- if block.settings.sub_title != blank -%}
                      <h3 style="color:{{ block.settings.sub_color }}; margin-bottom: 30px;">{{ block.settings.sub_title }}</h3>
                    {%- endif -%}
                    
                    {%- if block.settings.desc2 != blank -%}
                      <h2 style="font-size: 2em; margin-top: 20px;">{{ block.settings.desc2 | newline_to_br }}</h2>
                    {%- endif -%}

                    {%- if block.settings.title != blank -%}
<!--                     <h2 style="font-size: 2em; margin-top: 40px;">Condition:</h2>	 -->
                      <h2 style="color: {{ block.settings.color_title }}; margin-bottom: 10px; font-size: 2em;font-family: 'Work Sans',sans-serif; font-weight: 400 ">{{ block.settings.title | newline_to_br }}</h2>
                    {%- endif -%}
                    
                    {%- if block.settings.desc5 != blank -%}
                      <h2 style="font-size: 2em;">{{ block.settings.desc5 | newline_to_br }}</h2>
                    {%- endif -%}

                    {%- if block.settings.desc != blank -%}
                      <p style="color: {{ block.settings.color_desc }}; font-size: 2em; font-family: 'Work Sans',sans-serif; margin-bottom: 30px;">{{ block.settings.desc | newline_to_br }}</p>
                    {%- endif -%}
                    
                    {%- if block.settings.desc4 != blank -%}
                      <h2 style="font-size: 2em;">{{ block.settings.desc4 | newline_to_br }}</h2>
                    {%- endif -%}
                    
                    {%- if block.settings.desc3 != blank -%}
                      <p style="padding-bottom: 80px; font-size: 2em; font-family: 'Work Sans',sans-serif;">{{ block.settings.desc3 | newline_to_br }}</p>
                    {%- endif -%}

                    {%- if block.settings.button_title != blank -%}
                      <a href="{{ block.settings.item_link | default: '#' }}" class="btn {{ block.settings.btn_style }}" style="font-family: 'Work Sans',sans-serif; letter-spacing: 0; text-transform: capitalize; font-size: 1.5rem; font-weight: 400; margin-bottom: 10px;">{{ block.settings.button_title }}</a>
                    {%- endif -%}
                  </div><!-- .content_hp -->
                </div><!-- .text-content -->
                </div>


                {%- if block.settings.item_link != blank and block.settings.button_title == blank -%}
                  <a href="{{ block.settings.item_link }}" class="link-entire"></a>
                {%- endif -%}
              </div><!-- .image-index -->

            {%- if forloop.last -%}
              </div>
            {%- endif -%}
          {%- endif -%}

          {%- if forloop.last and block.type != 'image_tall' -%}
            </div>
          {%- endif -%}
        {%- endfor -%}

      </div><!-- .image-layout6 -->
    </div><!-- section layout -->
  {%- endif -%}
</div>
</div>

{%- endif -%}

{% schema %}
{
  "name": "Masonry Grid Images",
  "tag": "section",
  "max_blocks": 21,
  "settings": [
    {
      "type": "checkbox",
      "id": "show",
      "label": "Show this section",
      "default": true
    },
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "text",
      "id": "margin",
      "label": "Section margin",
      "info": "Set margin for section top-right-bottom-left (e.g. 20px 15px 10px 0)",
      "default": "0 0 120px 0"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Section width",
      "options": [
        { "value": "container", "label": "Fixed Width" },
        { "value": "full-width-container", "label": "Full Width" }
      ],
      "default": "full-width-container"
    },
    {
      "type": "select",
      "id": "design",
      "label": "Design",
      "options": [
        { "value": "design1", "label": "Small and large" },
        { "value": "design2", "label": "Same width child tiles" }
      ],
      "default": "design1"
    },
    {
      "type": "select",
      "id": "img_effect",
      "label": "Image effect on hover",
      "options": [
        { "value": "c-e__i__none", "label": "None" },
        { "value": "c-e__i__shine", "label": "Shine" },
        { "value": "c-e__i__zoom-in", "label": "Zoom-in" },
        { "value": "c-e__i__bb", "label": "Blur & Darker" }
      ],
      "default": "c-e__i__zoom-in"
    },
    {
      "type": "range",
      "id": "gap",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Space between images",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "image_tall",
      "name": "Tall image with text",
      "settings": [
        {
          "type": "image_picker",
          "id": "back_img",
          "label": "Background Image",
          "label": "570*1000px recommended"
        },
        {
          "type": "select",
          "id": "content_hp",
          "label": "Content Horizontal Position",
          "options": [
            {"value": "left", "label": "Left"},
            {"value": "center", "label": "Center"},
            {"value": "right", "label": "Right"}
          ],
          "default": "left"
        },
        {
          "type": "select",
          "id": "content_vp",
          "label": "Content Vertical Position",
          "options": [
            {"value": "v-top", "label": "Top"},
            {"value": "v-center", "label": "Center"},
            {"value": "v-bottom", "label": "Bottom"}
          ],
          "default": "v-bottom"
        },
        {
          "type": "select",
          "id": "content_style",
          "label": "Content Style",
          "options": [
            {"value": "text-green1", "label": "Green 1"},
            {"value": "text-green2", "label": "Green 2"},
            {"value": "text-green3", "label": "Green 3"},
            {"value": "text-orange", "label": "Orange"},
            {"value": "text-citrus1", "label": "Citrus 1"},
            {"value": "text-citrus2", "label": "Citrus 2"},
            {"value": "text-yellow1", "label": "Yellow 1"},
            {"value": "text-yellow2", "label": "Yellow 2"},
            {"value": "text-blue1", "label": "Blue 1"},
            {"value": "text-blue2", "label": "Blue 2"},
            {"value": "text-beige1", "label": "Beige 1"},
            {"value": "text-beige2", "label": "Beige 2"},
            {"value": "text-beige3", "label": "Beige 3"}
          ],
          "default": "text-citrus1"
        },
        {
          "type": "text",
          "id": "sub_title",
          "label": "Sub Title",
          "default": "WEEKLY DEALS"
        },
        {
          "type": "color",
          "id": "sub_color",
          "label": "Sub title Color",
          "default": "#393939"
        },
        {
          "type": "textarea",
          "id": "title",
          "label": "Main Title",
          "default": "Explore greate\nsavings"
        },
        {
          "type": "color",
          "id": "color_title",
          "label": "Title Color",
          "default": "#333333"
        },
        {
          "type": "textarea",
          "id": "desc2",
          "label": "Description Title"
        },
        {
          "type": "textarea",
          "id": "desc",
          "label": "Description"
        },
        {
          "type": "textarea",
          "id": "desc4",
          "label": "Second Description Title"
        },
        {
          "type": "textarea",
          "id": "desc3",
          "label": "Second Description"
        },
        {
          "type": "color",
          "id": "color_desc",
          "label": "Title Color",
          "default": "#444444"
        },
        {
          "type": "text",
          "id": "button_title",
          "label": "Button Title",
          "default": "LEARN MORE"
        },
        {
          "type": "url",
          "id": "item_link",
          "label": "Link To"
        },
        {
          "type": "select",
          "id": "btn_style",
          "label": "Button Style",
          "options": [
            {"value": "btn-default", "label": "Default button"},
            {"value": "btn-transparent", "label": "Transparent button"},
            {"value": "btn-secondary", "label": "Secondary button"},
            {"value": "btn-third", "label": "Third button"},
            {"value": "btn-text", "label": "Text button"}
          ],
          "default": "btn-default"
        }
      ]
    },
    {
      "type": "image",
      "name": "Text and background",
      "settings": [
        {
          "type": "image_picker",
          "id": "back_img",
          "label": "Background Image",
          "label": "850*500px for wide images, 500*500px for square images"
        },
        {
          "type": "select",
          "id": "content_hp",
          "label": "Content Horizontal Position",
          "options": [
            {"value": "left", "label": "Left"},
            {"value": "center", "label": "Center"},
            {"value": "right", "label": "Right"}
          ],
          "default": "left"
        },
        {
          "type": "select",
          "id": "content_vp",
          "label": "Content Vertical Position",
          "options": [
            {"value": "v-top", "label": "Top"},
            {"value": "v-center", "label": "Center"},
            {"value": "v-bottom", "label": "Bottom"}
          ],
          "default": "v-bottom"
        },
        {
          "type": "select",
          "id": "content_style",
          "label": "Content Style",
          "options": [
            {"value": "text-green1", "label": "Green 1"},
            {"value": "text-green2", "label": "Green 2"},
            {"value": "text-green3", "label": "Green 3"},
            {"value": "text-orange", "label": "Orange"},
            {"value": "text-citrus1", "label": "Citrus 1"},
            {"value": "text-citrus2", "label": "Citrus 2"},
            {"value": "text-yellow1", "label": "Yellow 1"},
            {"value": "text-yellow2", "label": "Yellow 2"},
            {"value": "text-blue1", "label": "Blue 1"},
            {"value": "text-blue2", "label": "Blue 2"},
            {"value": "text-beige1", "label": "Beige 1"},
            {"value": "text-beige2", "label": "Beige 2"},
            {"value": "text-beige3", "label": "Beige 3"}
          ],
          "default": "text-citrus1"
        },
        {
          "type": "text",
          "id": "sub_title",
          "label": "Sub Title",
          "default": "WEEKLY DEALS"
        },
        {
          "type": "color",
          "id": "sub_color",
          "label": "Sub title Color",
          "default": "#393939"
        },
        {
          "type": "text",
          "id": "desc2",
          "label": "Condition"
        },
        {
          "type": "textarea",
          "id": "title",
          "label": "Main Title",
          "default": "Explore greate\nsavings"
        },
        {
          "type": "color",
          "id": "color_title",
          "label": "Title Color",
          "default": "#333333"
        },
        {
          "type": "text",
          "id": "desc5",
          "label": "Description Title"
        },
        {
          "type": "textarea",
          "id": "desc",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "desc4",
          "label": "Second Description Title"
        },
        {
          "type": "textarea",
          "id": "desc3",
          "label": "Second Description"
        },

        {
          "type": "color",
          "id": "color_desc",
          "label": "Title Color",
          "default": "#444444"
        },
        {
          "type": "text",
          "id": "button_title",
          "label": "Button Title",
          "default": "LEARN MORE"
        },
        {
          "type": "url",
          "id": "item_link",
          "label": "Link To"
        },
        {
          "type": "select",
          "id": "btn_style",
          "label": "Button Style",
          "options": [
            {"value": "btn-default", "label": "Default button"},
            {"value": "btn-transparent", "label": "Transparent button"},
            {"value": "btn-secondary", "label": "Secondary button"},
            {"value": "btn-third", "label": "Third button"},
            {"value": "btn-text", "label": "Text button"}
          ],
          "default": "btn-default"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Masonry Grid Images",
    "category": "Image",
    "blocks": [
      { "type": "image" },
      { "type": "image" },
      { "type": "image" },
      { "type": "image" },
      { "type": "image" }
    ]
  }]
}
{% endschema %}
