{%- if section.settings.show -%}
{%- assign gap = section.settings.gap | divided_by: 2 | append: 'px' -%}
<div style="margin: {{ section.settings.margin }};" class="packery-section-{{ section.id }} mobile-media-css">
  {%- if section.blocks.size > 0 -%}
    <div class="{{ section.settings.layout }} packery-section-{{ section.id }}">
      <div class="packery-container position-relative video-section-css" style="margin:-{{ gap }}">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when "video" -%}
              <div class="packery-item packery-item-{{ block.id }} position-relative" style="border:{{ gap }} solid transparent" {{ block.shopify_attributes }}>
                {%- render 'video' with block -%}
              </div>
            {%- when "newsletter" -%}
              <div class="packery-item packery-item-{{ block.id }} position-relative" style="border:{{ gap }} solid transparent" {{ block.shopify_attributes }}>
                {%- if block.settings.newsletter_bg != blank -%}
                  {% capture newsletter_bg %}<div class="image-bg lazyload" data-bg="{{ block.settings.newsletter_bg | img_url: 'master' }}"></div>{% endcapture %}
                  {%- assign ar = 100 | divided_by: block.settings.newsletter_bg.aspect_ratio -%}
                {%- else -%}
                  {% capture newsletter_bg %}{{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder' }}{% endcapture %}
                  {%- assign ar = 58.7735 -%}
                {%- endif -%}

                <div class="position-relative newsletter-container" style="min-height: 160px;padding-top: {{ ar }}%;">

                  {{ newsletter_bg }}

                  <div class="beige-style3 text-content v-center ds-flex" style="width: 100%;padding: 0 30px;">
                    <div class="{{ block.settings.content_pos }}">
                      {%- if block.settings.title != blank -%}
                        <h2 style="color:{{ block.settings.color_title}}">{{ block.settings.title | newline_to_br }}</h2>
                      {%- endif -%}
                      {%- if block.settings.desc != blank -%}
                        <p style="color:{{ block.settings.color_desc}}">{{ block.settings.desc | newline_to_br }}</p>
                      {%- endif -%}
                      {%- if settings.newsletter_service == 'shopify-default' -%}
                        {% form 'customer', class: 'form-newsletter position-relative' %}
                          {% render 'form_status', form: form, form_id: formId, success_message: 'general.newsletter_form.confirmation' | t %}
                          {% unless form.posted_successfully? %}
                            <input type="hidden" name="contact[tags]" value="newsletter">
                            <input type="email" name="contact[email]" class="input-strict" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ block.settings.email_text }}" autocorrect="off" autocapitalize="off" required>
                            <button type="submit" name="commit" class="btn-icon">{% render 'icon-arrow-right' %}</button>
                          {% endunless %}
                        {% endform %}
                      {%- else -%}
                        <form action="{{ settings.newsletter_form_action }}" method="post" name="mc-embedded-subscribe-form" class="form-newsletter position-relative">
                          <input class="input-strict" placeholder="{{ block.settings.pc_input }}" type="email" value="{% if customer %}{{ customer.email }}{% endif %}" name="EMAIL" style="color:{{ block.settings.color_input }}" required/>
                          <button type="submit" class="btn-icon">{% render 'icon-arrow-right' %}</button>
                        </form>
                      {%- endif -%}
                    </div><!-- content-pos -->
                  </div><!-- text-content -->
                </div><!-- position-relative -->
              </div><!-- packery-item -->


            {%- when "slideshow_setting" -%}
              {%- assign next_index = forloop.index0 | plus: 1 -%}
              {%- if section.blocks[next_index] != blank and section.blocks[next_index].type == 'slideshow_content' -%}
                {%- assign slide_transition = block.settings.slide_transition -%}
                {%- assign auto_speed = block.settings.auto_speed -%}
                {%- assign show_dots = block.settings.show_dots -%}
                {%- assign show_nav = block.settings.show_nav -%}
                {%- assign nav_style = block.settings.nav_style -%}
                {%- assign wrap_around = block.settings.wrap_around -%}
                <div class="packery-item packery-item-{{ block.id }} position-relative" style="border:{{ gap }} solid transparent" {{ block.shopify_attributes }}>
                  <div class="block-slideshow-{{ block.id }}">
                    <div class="flickity-carousel {{ slide_transition }} {{ nav_style }}"
                      data-auto="{{ auto_speed }}"
                      data-dots="{{ show_dots }}"
                      data-nav="{{ show_nav }}"
                      data-wraparound="{{ wrap_around }}">
              {%- endif -%}


            {%- when "slideshow_content" -%}
              {%- assign prev_index = forloop.index0 | minus: 1 -%}
              {%- if section.blocks[prev_index] == blank -%}
                {%- continue -%}
              {%- endif -%}
              {%- if section.blocks[prev_index].type != 'slideshow_content' and section.blocks[prev_index].type != 'slideshow_setting' -%}
                {%- continue -%}
              {%- endif -%}

              {%- if block.settings.slide_img != blank -%}
                <div class="slide-item" style="padding-top: {{ 100 | divided_by: block.settings.slide_img.aspect_ratio }}%" {{ block.shopify_attributes }}>
                  {% render 'image', m_img: block.settings.slide_img %}
              {%- else -%}
                <div class="slide-item" style="padding-top: 105.264%" {{ block.shopify_attributes }}>
                  <div class="image-bg">
                    {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder' }}
                  </div><!-- image-bg -->
                {%- endif -%}

                {% render 'slideshow_content', s_c: block %}
              </div><!-- slide-item -->

              {%- assign next_index = forloop.index0 | plus: 1 -%}
              {%- if section.blocks[next_index] == blank or section.blocks[next_index].type != 'slideshow_content' -%}
                    </div><!-- flickity-carousel -->
                  </div><!-- vs-homepage-slideshow -->
                </div><!-- packery-item -->
              {%- endif -%}


            {%- when "text_bg" -%}
              <div class="packery-item packery-item-{{ block.id }} position-relative" {{ block.shopify_attributes }} style="border:{{ gap }} solid transparent; left: 8.75%;" >
                <div class="bg-simple" style="padding-top:{{ block.settings.ratio | strip }}%;background-color:{{ block.settings.color_bg }};">
                  {%- if block.settings.show_border -%}
                    <div class="bg-simple__border" style="border-color:{{ block.settings.color_border }}"></div>
                  {%- endif -%}
                </div>
                {%- render 'text_content', t_c: block -%}
              </div>


            {%- else -%}
              <div class="packery-item packery-item-{{ block.id }} position-relative" style="border:{{ gap }} solid transparent" {{ block.shopify_attributes }}>
                {%- if block.settings.back_img != blank -%}
                  {%- assign ar = 100 | divided_by: block.settings.back_img.aspect_ratio -%}
                  {%- capture back_img -%}<div class="image-bg lazyload" data-bg="{{ block.settings.back_img | img_url: 'master' }}"></div>{%- endcapture -%}
                {%- else -%}
                  {%- assign ar = "100" -%}
                  {%- capture back_img -%}{{ 'image' | placeholder_svg_tag: 'placeholder' }}{%- endcapture -%}
                {%- endif -%}
                <div style="padding-top:{{ ar }}%">
                  {{ back_img }}
                </div>

                {%- render 'text_content', t_c: block -%}
              </div>


          {%- endcase -%}

        {%- endfor -%}

      </div><!-- .packery-container -->
    </div><!-- section layout -->
  {%- endif -%}
</div>

<style>
{%- for block in section.blocks -%}
.packery-section-{{ section.id }} .packery-item-{{ block.id }} {width:{{ block.settings.width_m | strip }}%;}
@media (min-width: 768px) {.packery-section-{{ section.id }} .packery-item-{{ block.id }} {width:{{ block.settings.width_t | strip }}%;}}
@media (min-width: 1200px) {.packery-section-{{ section.id }} .packery-item-{{ block.id }} {width:{{ block.settings.width_p | strip }}%;}}
{%- if block.type == 'slideshow_setting' -%}
.block-slideshow-{{ block.id }} .flickity-page-dots .dot { color: {{ block.settings.dots_color }} }
.block-slideshow-{{ block.id }} .flickity-page-dots .dot:hover,
.block-slideshow-{{ block.id }} .flickity-page-dots .is-selected { color: {{ block.settings.color_dots_h | default: settings.c_theme }} }
.block-slideshow-{{ block.id }} .flickity-prev-next-button { border-color: {{ block.settings.nav_color }};color: {{ block.settings.nav_color }} }
{%- endif -%}
{%- endfor -%}
</style>
{%- endif -%}

{% schema %}
{
  "name": "Text with Media Packery",
  "tag": "section",
  "class": "vs-packery",
  "settings": [
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "checkbox",
      "id": "show",
      "label": "Show this section",
      "default": true
    },
    {
      "type": "text",
      "id": "margin",
      "label": "Section margin",
      "info": "Set margin for section top-right-bottom-left (e.g. 20px 15px 10px 0)",
      "default": "0 0 120px 0"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Section width",
      "options": [
        { "value": "container", "label": "Fixed Width" },
        { "value": "full-width-container", "label": "Full Width" }
      ],
      "default": "full-width-container"
    },
    {
      "type": "range",
      "id": "gap",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Space between images",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "text_bg",
      "name": "Text and background",
      "settings": [
        {
          "type": "text",
          "id": "width_p",
          "label": "Width (%)",
          "default": "25"
        },
        {
          "type": "text",
          "id": "width_t",
          "label": "Width on tablet (%)",
          "default": "50"
        },
        {
          "type": "text",
          "id": "width_m",
          "label": "Width on mobile (%)",
          "default": "100"
        },
        {
          "type": "text",
          "id": "ratio",
          "label": "Ratio: height/width (%)",
          "default": "89.58333"
        },
        {
          "type": "color",
          "id": "color_bg",
          "label": "Background color",
          "default": "#43474d"
        },
        {
          "type": "checkbox",
          "id": "show_border",
          "label": "Show border line around box",
          "default": true
        },
        {
          "type": "color",
          "id": "color_border",
          "label": "Border color",
          "default": "#a1a3a6"
        },
        {
          "type": "select",
          "id": "content_hp",
          "label": "Content Horizontal Position",
          "options": [
            {"value": "left", "label": "Left"},
            {"value": "center", "label": "Center"},
            {"value": "right", "label": "Right"}
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "content_vp",
          "label": "Content Vertical Position",
          "options": [
            {"value": "v-top", "label": "Top"},
            {"value": "v-center", "label": "Center"},
            {"value": "v-bottom", "label": "Bottom"}
          ],
          "default": "v-center"
        },
        {
          "type": "select",
          "id": "content_style",
          "label": "Content Style",
          "options": [
            {"value": "text-green1", "label": "Green 1"},
            {"value": "text-green2", "label": "Green 2"},
            {"value": "text-green3", "label": "Green 3"},
            {"value": "text-orange", "label": "Orange"},
            {"value": "text-citrus1", "label": "Citrus 1"},
            {"value": "text-citrus2", "label": "Citrus 2"},
            {"value": "text-yellow1", "label": "Yellow 1"},
            {"value": "text-yellow2", "label": "Yellow 2"},
            {"value": "text-blue1", "label": "Blue 1"},
            {"value": "text-blue2", "label": "Blue 2"},
            {"value": "text-beige1", "label": "Beige 1"},
            {"value": "text-beige2", "label": "Beige 2"},
            {"value": "text-beige3", "label": "Beige 3"}
          ],
          "default": "text-beige2"
        },
        {
          "type": "text",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "color",
          "id": "color_icon",
          "label": "Icon Color",
          "default": "#ffffff"
        },
        {
          "type": "textarea",
          "id": "sub_title",
          "label": "Sub Title",
          "default": "CUSTOM TAILORED"
        },
        {
          "type": "color",
          "id": "sub_color",
          "label": "Sub title Color",
          "default": "#ffffff"
        },
        {
          "type": "textarea",
          "id": "title",
          "label": "Main Title"
        },
        {
          "type": "color",
          "id": "color_title",
          "label": "Title Color",
          "default": "#ffffff"
        },
        {
          "type": "textarea",
          "id": "desc",
          "label": "Description"
        },
        {
          "type": "color",
          "id": "color_desc",
          "label": "Description Color",
          "default": "#ffffff"
        },
        {
          "type": "text",
          "id": "btn_title",
          "label": "Button Title"
        },
        {
          "type": "text",
          "id": "btn_title_icon",
          "label": "Icon after text"
        },
        {
          "type": "url",
          "id": "item_link",
          "label": "Link To"
        },
        {
          "type": "select",
          "id": "btn_style",
          "label": "Button Style",
          "options": [
            {"value": "btn-default", "label": "Default button"},
            {"value": "btn-transparent", "label": "Transparent button"},
            {"value": "btn-secondary", "label": "Secondary button"},
            {"value": "btn-third", "label": "Third button"},
            {"value": "btn-text", "label": "Text button"}
          ],
          "default": "btn-secondary"
        }
      ]
    },
    {
      "type": "video",
      "name": "Video with text",
      "settings": [
        {
          "type": "text",
          "id": "width_p",
          "label": "Width (%)",
          "default": "25"
        },
        {
          "type": "text",
          "id": "width_t",
          "label": "Width on tablet (%)",
          "default": "50"
        },
        {
          "type": "text",
          "id": "width_m",
          "label": "Width on mobile (%)",
          "default": "100"
        },
        {
          "id": "slide_video",
          "type": "text",
          "label": "Background Video",
          "info": "We recommend to upload video to store and then use it here"
        },
        {
          "type": "text",
          "id": "video_ratio",
          "label": "Video Ratio: height/width (%)",
          "default": "56.25"
        },
        {
          "type": "image_picker",
          "id": "slide_img",
          "label": "Poster Image"
        },
        {
          "type": "checkbox",
          "id": "show_controls",
          "label": "Show video controls",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "autoplay",
          "label": "Enable autoplay of video",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "loop",
          "label": "Loop video after finish",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_unmute",
          "label": "Show play/pause button",
          "default": true
        },
        {
          "type": "color",
          "id": "c_pause",
          "label": "Button color",
          "default": "#ffffff"
        },
        {
          "type": "range",
          "id": "xp_pause",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Button X position",
          "default": 50
        },
        {
          "type": "range",
          "id": "yp_pause",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Button Y position",
          "default": 50
        }
      ]
    },
    {
      "type": "icon_text",
      "name": "Icon, Text, Image",
      "settings": [
        {
          "type": "text",
          "id": "width_p",
          "label": "Width (%)",
          "default": "25"
        },
        {
          "type": "text",
          "id": "width_t",
          "label": "Width on tablet (%)",
          "default": "50"
        },
        {
          "type": "text",
          "id": "width_m",
          "label": "Width on mobile (%)",
          "default": "100"
        },
        {
          "type": "image_picker",
          "id": "back_img",
          "label": "Background Image"
        },
        {
          "type": "select",
          "id": "content_hp",
          "label": "Content Horizontal Position",
          "options": [
            {"value": "left", "label": "Left"},
            {"value": "center", "label": "Center"},
            {"value": "right", "label": "Right"}
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "content_vp",
          "label": "Content Vertical Position",
          "options": [
            {"value": "v-top", "label": "Top"},
            {"value": "v-center", "label": "Center"},
            {"value": "v-bottom", "label": "Bottom"}
          ],
          "default": "v-center"
        },
        {
          "type": "select",
          "id": "content_style",
          "label": "Content Style",
          "options": [
            {"value": "text-green1", "label": "Green 1"},
            {"value": "text-green2", "label": "Green 2"},
            {"value": "text-green3", "label": "Green 3"},
            {"value": "text-orange", "label": "Orange"},
            {"value": "text-citrus1", "label": "Citrus 1"},
            {"value": "text-citrus2", "label": "Citrus 2"},
            {"value": "text-yellow1", "label": "Yellow 1"},
            {"value": "text-yellow2", "label": "Yellow 2"},
            {"value": "text-blue1", "label": "Blue 1"},
            {"value": "text-blue2", "label": "Blue 2"},
            {"value": "text-beige1", "label": "Beige 1"},
            {"value": "text-beige2", "label": "Beige 2"},
            {"value": "text-beige3", "label": "Beige 3"}
          ],
          "default": "text-beige1"
        },
        {
          "type": "text",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "color",
          "id": "color_icon",
          "label": "Icon Color",
          "default": "#ffffff"
        },
        {
          "type": "textarea",
          "id": "sub_title",
          "label": "Sub Title"
        },
        {
          "type": "color",
          "id": "sub_color",
          "label": "Sub title Color",
          "default": "#ffffff"
        },
        {
          "type": "textarea",
          "id": "title",
          "label": "Main Title",
          "default": "Share Your Story"
        },
        {
          "type": "color",
          "id": "color_title",
          "label": "Title Color",
          "default": "#ffffff"
        },
        {
          "type": "textarea",
          "id": "desc",
          "label": "Description",
          "default": "#insta_venedor"
        },
        {
          "type": "color",
          "id": "color_desc",
          "label": "Title Color",
          "default": "#ffffff"
        },
        {
          "type": "text",
          "id": "btn_title",
          "label": "Button Title"
        },
        {
          "type": "text",
          "id": "btn_title_icon",
          "label": "Icon after text"
        },
        {
          "type": "url",
          "id": "item_link",
          "label": "Link To"
        },
        {
          "type": "select",
          "id": "btn_style",
          "label": "Button Style",
          "options": [
            {"value": "btn-default", "label": "Default button"},
            {"value": "btn-transparent", "label": "Transparent button"},
            {"value": "btn-secondary", "label": "Secondary button"},
            {"value": "btn-third", "label": "Third button"},
            {"value": "btn-text", "label": "Text button"}
          ],
          "default": "btn-secondary"
        }
      ]
    },
    {
      "type": "slideshow_setting",
      "name": "Slideshow",
      "settings": [
        {
          "type": "text",
          "id": "width_p",
          "label": "Width (%)",
          "default": "25"
        },
        {
          "type": "text",
          "id": "width_t",
          "label": "Width on tablet (%)",
          "default": "50"
        },
        {
          "type": "text",
          "id": "width_m",
          "label": "Width on mobile (%)",
          "default": "100"
        },
        {
          "type": "select",
          "id": "slide_transition",
          "label": "Transition Effect",
          "options": [
            { "value": "slide", "label": "Slide" },
            { "value": "fade", "label": "Fade" }
          ],
          "default": "fade"
        },
        {
          "type": "text",
          "id": "auto_speed",
          "label": "Autoplay",
          "info": "'5' for the slideshow to auto rotate every 5 seconds. '0' to disable auto rotate.",
          "default": "5"
        },
        {
          "type": "checkbox",
          "id": "wrap_around",
          "label": "Loop images",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_dots",
          "label": "Show Pagination Dots",
          "default": true
        },
        {
          "type": "color",
          "id": "dots_color",
          "label": "Dots Color",
          "default": "#43474d"
        },
        {
          "type": "color",
          "id": "color_dots_h",
          "label": "Dots hover color"
        },
        {
          "type": "checkbox",
          "id": "show_nav",
          "label": "Show Navigation",
          "default": false
        },
        {
          "type": "select",
          "id": "nav_style",
          "label": "Navigator style",
          "options": [
            { "value": "slideshow-nav__big", "label": "Big" },
            { "value": "slideshow-nav__small", "label": "Small" }
          ],
          "default": "slideshow-nav__small"
        },
        {
          "type": "color",
          "id": "nav_color",
          "label": "Navigation Color",
          "default": "#333333"
        }
      ]
    },
    {
      "type": "slideshow_content",
      "name": "Slideshow Content",
      "settings": [
        {
          "type": "image_picker",
          "id": "slide_img",
          "label": "Slide Image",
          "info": "Image size 950*1000px recommended"
        },
        {
          "type": "select",
          "id": "content_style",
          "label": "Content style",
          "options": [
            {"value": "orange-style", "label": "Orange style"},
            {"value": "citrus-style", "label": "Citrus style"},
            {"value": "green-style", "label": "Green style 1"},
            {"value": "green-style2", "label": "Green style 2"},
            {"value": "yellow-style", "label": "Yellow style"},
            {"value": "parallax-style1", "label": "Parallax style 1"},
            {"value": "parallax-style2", "label": "Parallax style 2"},
            {"value": "beige-style1", "label": "Beige Style1"},
            {"value": "beige-style2", "label": "Beige Style2"},
            {"value": "custom_html", "label": "Custom HTML"}
          ],
          "default": "beige-style1"
        },
        {
          "type": "checkbox",
          "id": "show_content_bg",
          "label": "Add background to content",
          "default": false
        },
        {
          "type": "select",
          "id": "mobile_layout",
          "label": "Text style on mobile",
          "options": [
            { "value": "default", "label": "Show text in colored box" },
            { "value": "adjust", "label": "Keep layout and adjust font size" }
          ],
          "default": "adjust"
        },
        {
          "type": "color",
          "id": "c_textbg",
          "label": "Text background color",
          "default": "rgba(255, 255, 255, 0.8)"
        },
        {
          "type": "select",
          "id": "content_pos",
          "label": "Content Position",
          "options": [
            {"value": "left", "label": "Left"},
            {"value": "left-center", "label": "Left Center"},
            {"value": "center", "label": "Center"},
            {"value": "right-center", "label": "Right Center"},
            {"value": "right", "label": "Right"}
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "content_effect",
          "label": "Content Effect",
          "options": [
            {"value": "none", "label": "None"},
            {"value": "from-left", "label": "From left"},
            {"value": "from-right", "label": "From right"},
            {"value": "from-top", "label": "From top"},
            {"value": "from-bottom", "label": "From bottom"}
          ],
          "default": "from-top"
        },
        {
          "type": "checkbox",
          "id": "show_border",
          "label": "Show border line around text",
          "default": false
        },
        {
          "type": "color",
          "id": "c_text_border",
          "label": "Border line color",
          "default": "#ffffff"
        },
        {
          "type": "textarea",
          "id": "top_title",
          "label": "Top text"
        },
        {
          "type": "color",
          "id": "color_top_title",
          "label": "Top text color",
          "default": "#333333"
        },
        {
          "type": "textarea",
          "id": "main_title",
          "label": "Main Title",
          "default": "300+"
        },
        {
          "type": "color",
          "id": "color_main_title",
          "label": "Title Color",
          "default": "#ffffff"
        },
        {
          "type": "textarea",
          "id": "sub_title",
          "label": "Sub Title",
          "default": "NEW STYLES JUST LANDED"
        },
        {
          "type": "color",
          "id": "sub_color",
          "label": "Sub Title Color",
          "default": "#ffffff"
        },
        {
          "type": "header",
          "content": "First Button"
        },
        {
          "type": "text",
          "id": "btn1_title",
          "label": "Button Title",
          "default": "TAKE A LOOK"
        },
        {
          "type": "text",
          "id": "btn1_title_icon",
          "label": "Icon after text"
        },
        {
          "type": "url",
          "id": "btn1_link",
          "label": "Link To"
        },
        {
          "type": "select",
          "id": "btn1_style",
          "label": "Button Style",
          "options": [
            {"value": "btn-default", "label": "Default button"},
            {"value": "btn-transparent", "label": "Transparent button"},
            {"value": "btn-secondary", "label": "Secondary button"},
            {"value": "btn-third", "label": "Third button"},
            {"value": "btn-text", "label": "Text button"}
          ],
          "default": "btn-secondary"
        },
        {
          "type": "header",
          "content": "Second Button"
        },
        {
          "type": "text",
          "id": "btn2_title",
          "label": "Button Title"
        },
        {
          "type": "text",
          "id": "btn2_title_icon",
          "label": "Icon after text"
        },
        {
          "type": "url",
          "id": "btn2_link",
          "label": "Link To"
        },
        {
          "type": "select",
          "id": "btn2_style",
          "label": "Button Style",
          "options": [
            {"value": "btn-default", "label": "Default button"},
            {"value": "btn-transparent", "label": "Transparent button"},
            {"value": "btn-secondary", "label": "Secondary button"},
            {"value": "btn-third", "label": "Third button"},
            {"value": "btn-text", "label": "Text button"}
          ],
          "default": "btn-secondary"
        },
        {
          "type": "html",
          "id": "html_content",
          "label": "Custom HTML",
          "info": "Write your own html/css for slideshow content"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "settings": [
        {
          "type": "text",
          "id": "width_p",
          "label": "Width (%)",
          "default": "55.3125"
        },
        {
          "type": "text",
          "id": "width_t",
          "label": "Width on tablet (%)",
          "default": "50"
        },
        {
          "type": "text",
          "id": "width_m",
          "label": "Width on mobile (%)",
          "default": "100"
        },
        {
          "type": "image_picker",
          "id": "newsletter_bg",
          "label": "Background image",
          "info": "1060x629px recommended"
        },
        {
          "type": "select",
          "id": "content_pos",
          "label": "Content position",
          "options": [
            { "value": "left", "label": "Left" },
            { "value": "center", "label": "Center" },
            { "value": "right", "label": "Right" }
          ],
          "default": "center"
        },
        {
          "type": "textarea",
          "label": "Title",
          "id": "title",
          "default": "BE THE FIRST TO KNOW"
        },
        {
          "type": "color",
          "id": "color_title",
          "label": "Title Color",
          "default": "#ffffff"
        },
        {
          "type": "textarea",
          "label": "Description",
          "id": "desc"
        },
        {
          "type": "color",
          "id": "color_desc",
          "label": "Description Color",
          "default": "#ffffff"
        },
        {
          "type": "text",
          "label": "Input box placeholder",
          "id": "pc_input",
          "default": "Enter your email address"
        },
        {
          "type": "color",
          "id": "color_input",
          "label": "Input text color",
          "default": "#43474d"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Text with Media Packery",
    "category": "Image",
    "blocks": [
      {
        "type": "video",
        "settings": {
          "width_p": "49.58334",
          "slide_video": "https:\/\/cdn.shopify.com\/s\/files\/1\/0014\/0306\/0298\/files\/production.mp4?v=1589471540",
          "video_ratio": "56.21"
        }
      },
      {
        "type": "text_bg",
        "settings": {
          "width_p": "27.08334",
          "ratio": "51.162709",
          "color_bg": "#ceb180",
          "color_border": "#e7d8c0",
          "content_style": "text-beige1",
          "icon": "icon-twitter",
          "sub_title": "",
          "title": "FOLLOW US ON\nTWITTER"
        }
      },
      {
        "type": "text_bg",
        "settings": {
          "width_p": "27.08334",
          "ratio": "51.3565",
          "content_style": "text-beige1",
          "icon": "icon-facebook",
          "sub_title": "",
          "title": "DISCOVER US ON\nFACEBOOK"
        }
      },
      {
        "type": "icon_text",
        "settings": {
          "width_p": "23.3332",
          "content_style": "text-beige2",
          "icon": "icon-instagram1",
          "sub_title": "FOLLOW US ON\nINSTAGRAM",
          "title": "",
          "desc": ""
        }
      },
      {
        "type": "text_bg",
        "settings": {
          "width_p": "44.6875",
          "ratio": "23.3918",
          "color_bg": "#ceb180",
          "color_border": "#e7d8c0",
          "content_style": "text-beige1",
          "icon": "",
          "sub_title": "",
          "title": "END OF SEASON SALE"
        }
      },
      {
        "type": "newsletter",
        "settings": {
          "width_p": "55.3125"
        }
      },
      {
        "type": "slideshow_setting",
        "settings": {
          "width_p": "44.6875",
          "auto_speed": "9",
          "show_dots": false
        }
      },
      {
        "type": "slideshow_content",
        "settings": {
          "content_style": "beige-style2",
          "content_effect": "none",
          "main_title": "LAYER\n-OVER-\nLAYER",
          "color_main_title": "#ffffff",
          "sub_title": "",
          "btn1_title": ""
        }
      },
      {
        "type": "slideshow_content",
        "settings": {
          "content_style": "beige-style2",
          "content_effect": "none",
          "main_title": "LAYER\n-OVER-\nLAYER",
          "color_main_title": "#ffffff",
          "sub_title": "",
          "btn1_title": ""
        }
      },
      {
        "type": "text_bg",
        "settings": {
          "width_p": "55.3125",
          "ratio": "18.8679",
          "color_bg": "#b93524",
          "show_border": true,
          "color_border": "#dc9a92",
          "content_style": "text-beige1",
          "icon": "icon-pinterest",
          "sub_title": "",
          "title": "CUSTOM TAILORED"
        }
      }
    ]
  }]
}
{% endschema %}
